// Verilog netlist produced by program LSE :  version Radiant Software (64-bit) 2.2.1.239.2
// Netlist written on Tue May  4 17:02:22 2021
// Source file index table: 
// Object locations will have the form @<file_index>(<first_ line>[<left_column>],<last_line>[<right_column>])
// file 0 "c:/users/fonar/documents/cs remote/es4/fpga_spi_peripheral/spi/source/impl_1/spi_peripheral.vhd"
// file 1 "c:/lscc/radiant/2.2/ip/pmi/pmi_ice40up.v"
// file 2 "c:/lscc/radiant/2.2/ip/pmi/pmi_ice40up.vhd"
// file 3 "c:/lscc/radiant/2.2/cae_library/simulation/verilog/ice40up/ccu2_b.v"
// file 4 "c:/lscc/radiant/2.2/cae_library/simulation/verilog/ice40up/fd1p3bz.v"
// file 5 "c:/lscc/radiant/2.2/cae_library/simulation/verilog/ice40up/fd1p3dz.v"
// file 6 "c:/lscc/radiant/2.2/cae_library/simulation/verilog/ice40up/fd1p3iz.v"
// file 7 "c:/lscc/radiant/2.2/cae_library/simulation/verilog/ice40up/fd1p3jz.v"
// file 8 "c:/lscc/radiant/2.2/cae_library/simulation/verilog/ice40up/hsosc.v"
// file 9 "c:/lscc/radiant/2.2/cae_library/simulation/verilog/ice40up/hsosc1p8v.v"
// file 10 "c:/lscc/radiant/2.2/cae_library/simulation/verilog/ice40up/ib.v"
// file 11 "c:/lscc/radiant/2.2/cae_library/simulation/verilog/ice40up/ifd1p3az.v"
// file 12 "c:/lscc/radiant/2.2/cae_library/simulation/verilog/ice40up/lsosc.v"
// file 13 "c:/lscc/radiant/2.2/cae_library/simulation/verilog/ice40up/lsosc1p8v.v"
// file 14 "c:/lscc/radiant/2.2/cae_library/simulation/verilog/ice40up/ob.v"
// file 15 "c:/lscc/radiant/2.2/cae_library/simulation/verilog/ice40up/obz_b.v"
// file 16 "c:/lscc/radiant/2.2/cae_library/simulation/verilog/ice40up/ofd1p3az.v"
// file 17 "c:/lscc/radiant/2.2/cae_library/simulation/verilog/ice40up/pdp4k.v"
// file 18 "c:/lscc/radiant/2.2/cae_library/simulation/verilog/ice40up/rgb.v"
// file 19 "c:/lscc/radiant/2.2/cae_library/simulation/verilog/ice40up/rgb1p8v.v"
// file 20 "c:/lscc/radiant/2.2/cae_library/simulation/verilog/ice40up/sp256k.v"
// file 21 "c:/lscc/radiant/2.2/cae_library/simulation/verilog/ice40up/legacy.v"
// file 22 "c:/lscc/radiant/2.2/ip/common/adder/rtl/lscc_adder.v"
// file 23 "c:/lscc/radiant/2.2/ip/common/adder_subtractor/rtl/lscc_add_sub.v"
// file 24 "c:/lscc/radiant/2.2/ip/common/complex_mult/rtl/lscc_complex_mult.v"
// file 25 "c:/lscc/radiant/2.2/ip/common/counter/rtl/lscc_cntr.v"
// file 26 "c:/lscc/radiant/2.2/ip/common/fifo/rtl/lscc_fifo.v"
// file 27 "c:/lscc/radiant/2.2/ip/common/fifo_dc/rtl/lscc_fifo_dc.v"
// file 28 "c:/lscc/radiant/2.2/ip/common/mult_accumulate/rtl/lscc_mult_accumulate.v"
// file 29 "c:/lscc/radiant/2.2/ip/common/mult_add_sub/rtl/lscc_mult_add_sub.v"
// file 30 "c:/lscc/radiant/2.2/ip/common/mult_add_sub_sum/rtl/lscc_mult_add_sub_sum.v"
// file 31 "c:/lscc/radiant/2.2/ip/common/multiplier/rtl/lscc_multiplier.v"
// file 32 "c:/lscc/radiant/2.2/ip/common/ram_dp/rtl/lscc_ram_dp.v"
// file 33 "c:/lscc/radiant/2.2/ip/common/ram_dq/rtl/lscc_ram_dq.v"
// file 34 "c:/lscc/radiant/2.2/ip/common/rom/rtl/lscc_rom.v"
// file 35 "c:/lscc/radiant/2.2/ip/common/subtractor/rtl/lscc_subtractor.v"
// file 36 "c:/lscc/radiant/2.2/ip/pmi/pmi_add.v"
// file 37 "c:/lscc/radiant/2.2/ip/pmi/pmi_addsub.v"
// file 38 "c:/lscc/radiant/2.2/ip/pmi/pmi_complex_mult.v"
// file 39 "c:/lscc/radiant/2.2/ip/pmi/pmi_counter.v"
// file 40 "c:/lscc/radiant/2.2/ip/pmi/pmi_dsp.v"
// file 41 "c:/lscc/radiant/2.2/ip/pmi/pmi_fifo.v"
// file 42 "c:/lscc/radiant/2.2/ip/pmi/pmi_fifo_dc.v"
// file 43 "c:/lscc/radiant/2.2/ip/pmi/pmi_mac.v"
// file 44 "c:/lscc/radiant/2.2/ip/pmi/pmi_mult.v"
// file 45 "c:/lscc/radiant/2.2/ip/pmi/pmi_multaddsub.v"
// file 46 "c:/lscc/radiant/2.2/ip/pmi/pmi_multaddsubsum.v"
// file 47 "c:/lscc/radiant/2.2/ip/pmi/pmi_ram_dp.v"
// file 48 "c:/lscc/radiant/2.2/ip/pmi/pmi_ram_dp_be.v"
// file 49 "c:/lscc/radiant/2.2/ip/pmi/pmi_ram_dq.v"
// file 50 "c:/lscc/radiant/2.2/ip/pmi/pmi_ram_dq_be.v"
// file 51 "c:/lscc/radiant/2.2/ip/pmi/pmi_rom.v"
// file 52 "c:/lscc/radiant/2.2/ip/pmi/pmi_sub.v"

//
// Verilog Description of module peripheral
//

module peripheral (output [7:0]led_array, input reset, input controller_clk, 
            input COPI, input CS, output CIPO, output led, output data_ready);   /* synthesis lineinfo="@0(5[8],5[18])"*/
    
    (* is_clock=1 *) wire clk;   /* synthesis lineinfo="@0(19[12],19[15])"*/
    
    wire GND_net, VCC_net, n923, led_array_c_7, led_array_c_6, led_array_c_5, 
        led_array_c_4, led_array_c_3, led_array_c_2, led_array_c_1, 
        led_array_c_0, reset_c, controller_clk_c, COPI_c, CS_c, CIPO_c, 
        led_c, data_ready_c, controller_clk_last, controller_clk_last_last;
    wire [3:0]bit_counter;   /* synthesis lineinfo="@0(26[12],26[23])"*/
    wire [4:0]byte_counter;   /* synthesis lineinfo="@0(27[12],27[24])"*/
    wire [1:0]s;   /* synthesis lineinfo="@0(41[12],41[13])"*/
    
    wire clk_enable_2, clk_enable_3, n774, n702, n910, n1061, n936, 
        n933, n926, n909, n931, n1125, n929, n12, n831, n1097, 
        n803, n1, n907, n901, n12_adj_1, n10, n1070, n3, n1071, 
        n971, n970;
    
    VHI i2 (.Z(VCC_net));
    (* lse_init_val=0 *) FD1P3XZ bit_counter__i3 (.D(n933), .SP(n803), .CK(clk), 
            .SR(reset_c), .Q(bit_counter[3]));   /* synthesis lineinfo="@0(49[9],107[16])"*/
    defparam bit_counter__i3.REGSET = "RESET";
    defparam bit_counter__i3.SRMODE = "ASYNC";
    (* lut_function="(A+(B+(C)))" *) LUT4 i1_2_lut_3_lut (.A(byte_counter[0]), 
            .B(byte_counter[1]), .C(n3), .Z(n10));
    defparam i1_2_lut_3_lut.INIT = "0xfefe";
    (* lse_init_val=0 *) FD1P3XZ byte_counter_i0_i0 (.D(n1125), .SP(n923), 
            .CK(clk), .SR(reset_c), .Q(byte_counter[0]));   /* synthesis lineinfo="@0(49[9],107[16])"*/
    defparam byte_counter_i0_i0.REGSET = "RESET";
    defparam byte_counter_i0_i0.SRMODE = "ASYNC";
    (* lut_function="(!(A+(B+((D)+!C))))" *) LUT4 i3_4_lut (.A(n1097), .B(reset_c), 
            .C(byte_counter[4]), .D(s[1]), .Z(n1070));
    defparam i3_4_lut.INIT = "0x0010";
    (* syn_instantiated=1 *) HSOSC_CORE H (.CLKHFPU(VCC_net), .CLKHFEN(VCC_net), 
            .TRIM9(GND_net), .TRIM8(GND_net), .TRIM7(GND_net), .TRIM6(GND_net), 
            .TRIM5(GND_net), .TRIM4(GND_net), .TRIM3(GND_net), .TRIM2(GND_net), 
            .TRIM1(GND_net), .TRIM0(GND_net), .CLKHF(clk));
    defparam H.CLKHF_DIV = "0b00";
    defparam H.FABRIC_TRIME = "DISABLE";
    (* lse_init_val=0 *) FD1P3XZ bit_counter__i2 (.D(n931), .SP(n803), .CK(clk), 
            .SR(reset_c), .Q(bit_counter[2]));   /* synthesis lineinfo="@0(49[9],107[16])"*/
    defparam bit_counter__i2.REGSET = "RESET";
    defparam bit_counter__i2.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ bit_counter__i1 (.D(n929), .SP(n803), .CK(clk), 
            .SR(reset_c), .Q(bit_counter[1]));   /* synthesis lineinfo="@0(49[9],107[16])"*/
    defparam bit_counter__i1.REGSET = "RESET";
    defparam bit_counter__i1.SRMODE = "ASYNC";
    (* lut_function="(A (B)+!A (B (C (D))))" *) LUT4 i1_3_lut_4_lut (.A(s[0]), 
            .B(byte_counter[3]), .C(byte_counter[2]), .D(n970), .Z(n901));   /* synthesis lineinfo="@0(41[12],41[13])"*/
    defparam i1_3_lut_4_lut.INIT = "0xc888";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i1_2_lut_4_lut (.A(byte_counter[2]), 
            .B(byte_counter[0]), .C(byte_counter[1]), .D(n3), .Z(n12_adj_1));
    defparam i1_2_lut_4_lut.INIT = "0xfffe";
    (* lse_init_val=0 *) FD1P3XZ bit_counter__i0 (.D(n12), .SP(VCC_net), 
            .CK(clk), .SR(reset_c), .Q(bit_counter[0]));   /* synthesis lineinfo="@0(49[9],107[16])"*/
    defparam bit_counter__i0.REGSET = "RESET";
    defparam bit_counter__i0.SRMODE = "ASYNC";
    (* lut_function="(A (B)+!A !(B))" *) LUT4 i453_2_lut (.A(n3), .B(byte_counter[0]), 
            .Z(n1125));   /* synthesis lineinfo="@0(27[12],27[24])"*/
    defparam i453_2_lut.INIT = "0x9999";
    (* lut_function="(A+!(B+(C+!(D))))" *) LUT4 i110_4_lut (.A(s[1]), .B(byte_counter[4]), 
            .C(n1097), .D(s[0]), .Z(n774));   /* synthesis lineinfo="@0(49[9],107[16])"*/
    defparam i110_4_lut.INIT = "0xabaa";
    (* lut_function="(A (C+(D))+!A !(B+!(C+(D))))" *) LUT4 i259_3_lut_4_lut (.A(reset_c), 
            .B(n774), .C(n1070), .D(s[0]), .Z(n936));
    defparam i259_3_lut_4_lut.INIT = "0xbbb0";
    (* lut_function="(!(A (B+(C))+!A (B+!(C))))" *) LUT4 i347_3_lut (.A(bit_counter[0]), 
            .B(CS_c), .C(n803), .Z(n12));   /* synthesis lineinfo="@0(49[9],107[16])"*/
    defparam i347_3_lut.INIT = "0x1212";
    (* lse_init_val=1 *) FD1P3XZ s_i1 (.D(n1071), .SP(VCC_net), .CK(clk), 
            .SR(GND_net), .Q(s[1]));   /* synthesis lineinfo="@0(49[9],107[16])"*/
    defparam s_i1.REGSET = "RESET";
    defparam s_i1.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!(A+!(B)))" *) LUT4 i460_2_lut (.A(s[1]), .B(n702), 
            .Z(n923));   /* synthesis lineinfo="@0(59[17],86[24])"*/
    defparam i460_2_lut.INIT = "0x4444";
    (* lut_function="(!((B+!(C))+!A))" *) LUT4 i249_2_lut_3_lut_3_lut (.A(n702), 
            .B(reset_c), .C(s[1]), .Z(n926));   /* synthesis lineinfo="@0(49[9],107[16])"*/
    defparam i249_2_lut_3_lut_3_lut.INIT = "0x2020";
    (* lut_function="(A ((C)+!B)+!A (C))" *) LUT4 i134_2_lut_3_lut (.A(controller_clk_last), 
            .B(controller_clk_last_last), .C(CS_c), .Z(n803));   /* synthesis lineinfo="@0(44[17],44[71])"*/
    defparam i134_2_lut_3_lut.INIT = "0xf2f2";
    (* lse_init_val=0 *) FD1P3XZ controller_clk_last_last_c (.D(controller_clk_last), 
            .SP(clk_enable_3), .CK(clk), .SR(GND_net), .Q(controller_clk_last_last));   /* synthesis lineinfo="@0(49[9],107[16])"*/
    defparam controller_clk_last_last_c.REGSET = "RESET";
    defparam controller_clk_last_last_c.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0 *) IOL_B controller_clk_last_c (.PADDI(controller_clk_c), 
            .DO1(GND_net), .DO0(GND_net), .CE(clk_enable_3), .IOLTO(GND_net), 
            .HOLD(GND_net), .INCLK(clk), .OUTCLK(GND_net), .DI0(controller_clk_last));   /* synthesis lineinfo="@0(49[9],107[16])"*/
    defparam controller_clk_last_c.LATCHIN = "NONE_REG";
    defparam controller_clk_last_c.DDROUT = "NO";
    OB \led_array_pad[7]  (.I(led_array_c_7), .O(led_array[7]));   /* synthesis lineinfo="@0(7[9],7[18])"*/
    FD1P3XZ CIPO_i0 (.D(n1), .SP(clk_enable_2), .CK(clk), .SR(n926), 
            .Q(CIPO_c));   /* synthesis lineinfo="@0(49[9],107[16])"*/
    defparam CIPO_i0.REGSET = "RESET";
    defparam CIPO_i0.SRMODE = "CE_OVER_LSR";
    IOL_B led_array_i0_i8 (.PADDI(GND_net), .DO1(GND_net), .DO0(led_array_c_6), 
          .CE(clk_enable_2), .IOLTO(GND_net), .HOLD(GND_net), .INCLK(GND_net), 
          .OUTCLK(clk), .PADDO(led_array_c_7));   /* synthesis lineinfo="@0(49[9],107[16])"*/
    defparam led_array_i0_i8.LATCHIN = "LATCH_REG";
    defparam led_array_i0_i8.DDROUT = "NO";
    IOL_B data_ready_i1 (.PADDI(GND_net), .DO1(GND_net), .DO0(s[0]), .CE(clk_enable_3), 
          .IOLTO(GND_net), .HOLD(GND_net), .INCLK(GND_net), .OUTCLK(clk), 
          .PADDO(data_ready_c));   /* synthesis lineinfo="@0(49[9],107[16])"*/
    defparam data_ready_i1.LATCHIN = "LATCH_REG";
    defparam data_ready_i1.DDROUT = "NO";
    FD1P3XZ led_array_i0_i2 (.D(led_array_c_0), .SP(clk_enable_2), .CK(clk), 
            .SR(GND_net), .Q(led_array_c_1));   /* synthesis lineinfo="@0(49[9],107[16])"*/
    defparam led_array_i0_i2.REGSET = "RESET";
    defparam led_array_i0_i2.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A (C)+!A !(B (C)+!B !(C)))" *) LUT4 i19_4_lut_3_lut (.A(reset_c), 
            .B(n774), .C(s[1]), .Z(n1071));
    defparam i19_4_lut_3_lut.INIT = "0xb4b4";
    FD1P3XZ led_array_i0_i3 (.D(led_array_c_1), .SP(clk_enable_2), .CK(clk), 
            .SR(GND_net), .Q(led_array_c_2));   /* synthesis lineinfo="@0(49[9],107[16])"*/
    defparam led_array_i0_i3.REGSET = "RESET";
    defparam led_array_i0_i3.SRMODE = "CE_OVER_LSR";
    FD1P3XZ led_array_i0_i4 (.D(led_array_c_2), .SP(clk_enable_2), .CK(clk), 
            .SR(GND_net), .Q(led_array_c_3));   /* synthesis lineinfo="@0(49[9],107[16])"*/
    defparam led_array_i0_i4.REGSET = "RESET";
    defparam led_array_i0_i4.SRMODE = "CE_OVER_LSR";
    OB \led_array_pad[6]  (.I(led_array_c_6), .O(led_array[6]));   /* synthesis lineinfo="@0(7[9],7[18])"*/
    OB \led_array_pad[5]  (.I(led_array_c_5), .O(led_array[5]));   /* synthesis lineinfo="@0(7[9],7[18])"*/
    OB \led_array_pad[4]  (.I(led_array_c_4), .O(led_array[4]));   /* synthesis lineinfo="@0(7[9],7[18])"*/
    OB \led_array_pad[3]  (.I(led_array_c_3), .O(led_array[3]));   /* synthesis lineinfo="@0(7[9],7[18])"*/
    OB \led_array_pad[2]  (.I(led_array_c_2), .O(led_array[2]));   /* synthesis lineinfo="@0(7[9],7[18])"*/
    OB \led_array_pad[1]  (.I(led_array_c_1), .O(led_array[1]));   /* synthesis lineinfo="@0(7[9],7[18])"*/
    OB \led_array_pad[0]  (.I(led_array_c_0), .O(led_array[0]));   /* synthesis lineinfo="@0(7[9],7[18])"*/
    OB CIPO_pad (.I(CIPO_c), .O(CIPO));   /* synthesis lineinfo="@0(12[9],12[13])"*/
    OB led_pad (.I(led_c), .O(led));   /* synthesis lineinfo="@0(13[3],13[6])"*/
    OB data_ready_pad (.I(data_ready_c), .O(data_ready));   /* synthesis lineinfo="@0(14[9],14[19])"*/
    IB reset_pad (.I(reset), .O(reset_c));   /* synthesis lineinfo="@0(8[9],8[14])"*/
    IB controller_clk_pad (.I(controller_clk), .O(controller_clk_c));   /* synthesis lineinfo="@0(9[9],9[23])"*/
    IB COPI_pad (.I(COPI), .O(COPI_c));   /* synthesis lineinfo="@0(10[9],10[13])"*/
    IB CS_pad (.I(CS), .O(CS_c));   /* synthesis lineinfo="@0(11[9],11[11])"*/
    VLO i462 (.Z(GND_net));
    FD1P3XZ led_array_i0_i5 (.D(led_array_c_3), .SP(clk_enable_2), .CK(clk), 
            .SR(GND_net), .Q(led_array_c_4));   /* synthesis lineinfo="@0(49[9],107[16])"*/
    defparam led_array_i0_i5.REGSET = "RESET";
    defparam led_array_i0_i5.SRMODE = "CE_OVER_LSR";
    FD1P3XZ led_array_i0_i6 (.D(led_array_c_4), .SP(clk_enable_2), .CK(clk), 
            .SR(GND_net), .Q(led_array_c_5));   /* synthesis lineinfo="@0(49[9],107[16])"*/
    defparam led_array_i0_i6.REGSET = "RESET";
    defparam led_array_i0_i6.SRMODE = "CE_OVER_LSR";
    FD1P3XZ led_array_i0_i7 (.D(led_array_c_5), .SP(clk_enable_2), .CK(clk), 
            .SR(GND_net), .Q(led_array_c_6));   /* synthesis lineinfo="@0(49[9],107[16])"*/
    defparam led_array_i0_i7.REGSET = "RESET";
    defparam led_array_i0_i7.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0 *) FD1P3XZ byte_counter_i0_i1 (.D(n907), .SP(n923), 
            .CK(clk), .SR(reset_c), .Q(byte_counter[1]));   /* synthesis lineinfo="@0(49[9],107[16])"*/
    defparam byte_counter_i0_i1.REGSET = "RESET";
    defparam byte_counter_i0_i1.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ byte_counter_i0_i2 (.D(n909), .SP(n923), 
            .CK(clk), .SR(reset_c), .Q(byte_counter[2]));   /* synthesis lineinfo="@0(49[9],107[16])"*/
    defparam byte_counter_i0_i2.REGSET = "RESET";
    defparam byte_counter_i0_i2.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ byte_counter_i0_i3 (.D(n910), .SP(n923), 
            .CK(clk), .SR(reset_c), .Q(byte_counter[3]));   /* synthesis lineinfo="@0(49[9],107[16])"*/
    defparam byte_counter_i0_i3.REGSET = "RESET";
    defparam byte_counter_i0_i3.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ byte_counter_i0_i4 (.D(n1061), .SP(n923), 
            .CK(clk), .SR(reset_c), .Q(byte_counter[4]));   /* synthesis lineinfo="@0(49[9],107[16])"*/
    defparam byte_counter_i0_i4.REGSET = "RESET";
    defparam byte_counter_i0_i4.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ s_i0 (.D(n936), .SP(VCC_net), .CK(clk), 
            .SR(GND_net), .Q(s[0]));   /* synthesis lineinfo="@0(49[9],107[16])"*/
    defparam s_i0.REGSET = "RESET";
    defparam s_i0.SRMODE = "CE_OVER_LSR";
    FD1P3XZ led_array_i0_i1 (.D(COPI_c), .SP(clk_enable_2), .CK(clk), 
            .SR(GND_net), .Q(led_array_c_0));   /* synthesis lineinfo="@0(49[9],107[16])"*/
    defparam led_array_i0_i1.REGSET = "RESET";
    defparam led_array_i0_i1.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!(A))" *) LUT4 i99_1_lut (.A(reset_c), .Z(clk_enable_3));   /* synthesis lineinfo="@0(8[9],8[14])"*/
    defparam i99_1_lut.INIT = "0x5555";
    (* lut_function="(A+(B))" *) LUT4 i341_2_lut (.A(COPI_c), .B(s[0]), 
            .Z(n1));   /* synthesis lineinfo="@0(70[21],85[30])"*/
    defparam i341_2_lut.INIT = "0xeeee";
    (* lut_function="(!((B)+!A))" *) LUT4 i458_2_lut (.A(s[0]), .B(s[1]), 
            .Z(led_c));   /* synthesis lineinfo="@0(46[21],46[30])"*/
    defparam i458_2_lut.INIT = "0x2222";
    (* lut_function="(A (B+(C (D)+!C !(D)))+!A !(B+(C (D)+!C !(D))))" *) LUT4 i319_4_lut (.A(byte_counter[1]), 
            .B(n3), .C(byte_counter[0]), .D(s[0]), .Z(n907));   /* synthesis lineinfo="@0(41[12],41[13])"*/
    defparam i319_4_lut.INIT = "0xa99a";
    (* lut_function="(!((B+(C))+!A))" *) LUT4 i61_2_lut_3_lut (.A(controller_clk_last), 
            .B(controller_clk_last_last), .C(CS_c), .Z(n702));   /* synthesis lineinfo="@0(44[17],44[71])"*/
    defparam i61_2_lut_3_lut.INIT = "0x0202";
    (* lut_function="(A (B (C)))" *) LUT4 i158_2_lut_3_lut (.A(bit_counter[1]), 
            .B(bit_counter[0]), .C(bit_counter[2]), .Z(n831));
    defparam i158_2_lut_3_lut.INIT = "0x8080";
    (* lut_function="(!(A (B (C+(D))+!B (C+!(D)))+!A (C+!(D))))" *) LUT4 i354_3_lut_4_lut (.A(bit_counter[1]), 
            .B(bit_counter[0]), .C(CS_c), .D(bit_counter[2]), .Z(n931));
    defparam i354_3_lut_4_lut.INIT = "0x0708";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i2_3_lut_4_lut (.A(byte_counter[0]), 
            .B(byte_counter[1]), .C(byte_counter[2]), .D(byte_counter[3]), 
            .Z(n1097));
    defparam i2_3_lut_4_lut.INIT = "0xfffe";
    (* lut_function="(!((B)+!A))" *) LUT4 i66_2_lut_2_lut (.A(n702), .B(reset_c), 
            .Z(clk_enable_2));   /* synthesis lineinfo="@0(49[9],107[16])"*/
    defparam i66_2_lut_2_lut.INIT = "0x2222";
    (* lut_function="(A (B (C (D)+!C !(D))+!B !(D))+!A (B (D)+!B !(C (D)+!C !(D))))" *) LUT4 i314_4_lut (.A(n970), 
            .B(n10), .C(s[0]), .D(byte_counter[2]), .Z(n909));   /* synthesis lineinfo="@0(41[12],41[13])"*/
    defparam i314_4_lut.INIT = "0xc53a";
    (* lut_function="(!(A (B+(C))+!A (B+!(C))))" *) LUT4 i352_3_lut (.A(bit_counter[1]), 
            .B(CS_c), .C(bit_counter[0]), .Z(n929));   /* synthesis lineinfo="@0(49[9],107[16])"*/
    defparam i352_3_lut.INIT = "0x1212";
    (* lut_function="(!((B+!(C))+!A))" *) LUT4 i2_3_lut (.A(byte_counter[1]), 
            .B(n3), .C(byte_counter[0]), .Z(n970));   /* synthesis lineinfo="@0(49[9],107[16])"*/
    defparam i2_3_lut.INIT = "0x2020";
    (* lut_function="(A+!(B (C (D))))" *) LUT4 i1_2_lut_4_lut_adj_1 (.A(bit_counter[3]), 
            .B(bit_counter[1]), .C(bit_counter[0]), .D(bit_counter[2]), 
            .Z(n3));
    defparam i1_2_lut_4_lut_adj_1.INIT = "0xbfff";
    (* lut_function="(A (B (C (D)+!C !(D))+!B !(D))+!A (B (D)+!B !(C (D)+!C !(D))))" *) LUT4 i307_4_lut (.A(n971), 
            .B(n12_adj_1), .C(s[0]), .D(byte_counter[3]), .Z(n910));   /* synthesis lineinfo="@0(41[12],41[13])"*/
    defparam i307_4_lut.INIT = "0xc53a";
    (* lut_function="(A (B))" *) LUT4 i1_2_lut (.A(byte_counter[2]), .B(n970), 
            .Z(n971));   /* synthesis lineinfo="@0(49[9],107[16])"*/
    defparam i1_2_lut.INIT = "0x8888";
    (* lut_function="(A (B (D)+!B !(D))+!A (B (C (D)+!C !(D))+!B (D)))" *) LUT4 i2_4_lut (.A(n901), 
            .B(s[0]), .C(n12_adj_1), .D(byte_counter[4]), .Z(n1061));   /* synthesis lineinfo="@0(59[17],86[24])"*/
    defparam i2_4_lut.INIT = "0xd926";
    (* lut_function="(!(A+(B (C)+!B !(C))))" *) LUT4 i1_3_lut (.A(CS_c), .B(bit_counter[3]), 
            .C(n831), .Z(n933));   /* synthesis lineinfo="@0(11[9],11[11])"*/
    defparam i1_3_lut.INIT = "0x1414";
    
endmodule
