// Verilog netlist produced by program LSE :  version Radiant Software (64-bit) 2.2.1.239.2
// Netlist written on Tue May  4 17:28:53 2021
// Source file index table: 
// Object locations will have the form @<file_index>(<first_ line>[<left_column>],<last_line>[<right_column>])
// file 0 "c:/users/fonar/documents/cs remote/es4/fpga_spi_peripheral/spi/source/impl_1/spi_peripheral.vhd"
// file 1 "c:/lscc/radiant/2.2/ip/pmi/pmi_ice40up.v"
// file 2 "c:/lscc/radiant/2.2/ip/pmi/pmi_ice40up.vhd"
// file 3 "c:/lscc/radiant/2.2/cae_library/simulation/verilog/ice40up/ccu2_b.v"
// file 4 "c:/lscc/radiant/2.2/cae_library/simulation/verilog/ice40up/fd1p3bz.v"
// file 5 "c:/lscc/radiant/2.2/cae_library/simulation/verilog/ice40up/fd1p3dz.v"
// file 6 "c:/lscc/radiant/2.2/cae_library/simulation/verilog/ice40up/fd1p3iz.v"
// file 7 "c:/lscc/radiant/2.2/cae_library/simulation/verilog/ice40up/fd1p3jz.v"
// file 8 "c:/lscc/radiant/2.2/cae_library/simulation/verilog/ice40up/hsosc.v"
// file 9 "c:/lscc/radiant/2.2/cae_library/simulation/verilog/ice40up/hsosc1p8v.v"
// file 10 "c:/lscc/radiant/2.2/cae_library/simulation/verilog/ice40up/ib.v"
// file 11 "c:/lscc/radiant/2.2/cae_library/simulation/verilog/ice40up/ifd1p3az.v"
// file 12 "c:/lscc/radiant/2.2/cae_library/simulation/verilog/ice40up/lsosc.v"
// file 13 "c:/lscc/radiant/2.2/cae_library/simulation/verilog/ice40up/lsosc1p8v.v"
// file 14 "c:/lscc/radiant/2.2/cae_library/simulation/verilog/ice40up/ob.v"
// file 15 "c:/lscc/radiant/2.2/cae_library/simulation/verilog/ice40up/obz_b.v"
// file 16 "c:/lscc/radiant/2.2/cae_library/simulation/verilog/ice40up/ofd1p3az.v"
// file 17 "c:/lscc/radiant/2.2/cae_library/simulation/verilog/ice40up/pdp4k.v"
// file 18 "c:/lscc/radiant/2.2/cae_library/simulation/verilog/ice40up/rgb.v"
// file 19 "c:/lscc/radiant/2.2/cae_library/simulation/verilog/ice40up/rgb1p8v.v"
// file 20 "c:/lscc/radiant/2.2/cae_library/simulation/verilog/ice40up/sp256k.v"
// file 21 "c:/lscc/radiant/2.2/cae_library/simulation/verilog/ice40up/legacy.v"
// file 22 "c:/lscc/radiant/2.2/ip/common/adder/rtl/lscc_adder.v"
// file 23 "c:/lscc/radiant/2.2/ip/common/adder_subtractor/rtl/lscc_add_sub.v"
// file 24 "c:/lscc/radiant/2.2/ip/common/complex_mult/rtl/lscc_complex_mult.v"
// file 25 "c:/lscc/radiant/2.2/ip/common/counter/rtl/lscc_cntr.v"
// file 26 "c:/lscc/radiant/2.2/ip/common/fifo/rtl/lscc_fifo.v"
// file 27 "c:/lscc/radiant/2.2/ip/common/fifo_dc/rtl/lscc_fifo_dc.v"
// file 28 "c:/lscc/radiant/2.2/ip/common/mult_accumulate/rtl/lscc_mult_accumulate.v"
// file 29 "c:/lscc/radiant/2.2/ip/common/mult_add_sub/rtl/lscc_mult_add_sub.v"
// file 30 "c:/lscc/radiant/2.2/ip/common/mult_add_sub_sum/rtl/lscc_mult_add_sub_sum.v"
// file 31 "c:/lscc/radiant/2.2/ip/common/multiplier/rtl/lscc_multiplier.v"
// file 32 "c:/lscc/radiant/2.2/ip/common/ram_dp/rtl/lscc_ram_dp.v"
// file 33 "c:/lscc/radiant/2.2/ip/common/ram_dq/rtl/lscc_ram_dq.v"
// file 34 "c:/lscc/radiant/2.2/ip/common/rom/rtl/lscc_rom.v"
// file 35 "c:/lscc/radiant/2.2/ip/common/subtractor/rtl/lscc_subtractor.v"
// file 36 "c:/lscc/radiant/2.2/ip/pmi/pmi_add.v"
// file 37 "c:/lscc/radiant/2.2/ip/pmi/pmi_addsub.v"
// file 38 "c:/lscc/radiant/2.2/ip/pmi/pmi_complex_mult.v"
// file 39 "c:/lscc/radiant/2.2/ip/pmi/pmi_counter.v"
// file 40 "c:/lscc/radiant/2.2/ip/pmi/pmi_dsp.v"
// file 41 "c:/lscc/radiant/2.2/ip/pmi/pmi_fifo.v"
// file 42 "c:/lscc/radiant/2.2/ip/pmi/pmi_fifo_dc.v"
// file 43 "c:/lscc/radiant/2.2/ip/pmi/pmi_mac.v"
// file 44 "c:/lscc/radiant/2.2/ip/pmi/pmi_mult.v"
// file 45 "c:/lscc/radiant/2.2/ip/pmi/pmi_multaddsub.v"
// file 46 "c:/lscc/radiant/2.2/ip/pmi/pmi_multaddsubsum.v"
// file 47 "c:/lscc/radiant/2.2/ip/pmi/pmi_ram_dp.v"
// file 48 "c:/lscc/radiant/2.2/ip/pmi/pmi_ram_dp_be.v"
// file 49 "c:/lscc/radiant/2.2/ip/pmi/pmi_ram_dq.v"
// file 50 "c:/lscc/radiant/2.2/ip/pmi/pmi_ram_dq_be.v"
// file 51 "c:/lscc/radiant/2.2/ip/pmi/pmi_rom.v"
// file 52 "c:/lscc/radiant/2.2/ip/pmi/pmi_sub.v"

//
// Verilog Description of module peripheral
//

module peripheral (output [7:0]led_array, input reset, input controller_clk, 
            input COPI, input CS, output CIPO, output led, output data_ready);   /* synthesis lineinfo="@0(5[8],5[18])"*/
    
    (* is_clock=1 *) wire clk;   /* synthesis lineinfo="@0(19[12],19[15])"*/
    
    wire GND_net, VCC_net, reset_c, controller_clk_c, COPI_c, CS_c, 
        CIPO_c, led_c, data_ready_c, controller_clk_last, controller_clk_last_last, 
        n2599, led_array_c_127, led_array_c_126, led_array_c_125, led_array_c_124, 
        led_array_c_123, led_array_c_122, led_array_c_121, led_array_c_120;
    wire [127:0]image_shiftreg;   /* synthesis lineinfo="@0(24[12],24[26])"*/
    wire [3:0]bit_counter;   /* synthesis lineinfo="@0(25[12],25[23])"*/
    wire [4:0]byte_counter;   /* synthesis lineinfo="@0(26[12],26[24])"*/
    wire [1:0]s;   /* synthesis lineinfo="@0(40[12],40[13])"*/
    
    wire n2548, n2602, n2545;
    wire [8:0]CIPO_N_286;
    
    wire n2737, n2596, n885, n2734, n2593, n2373, n2498, n2542, 
        n2590, n2539, n4, n2587, n2488, n2584, n2536, n2501, 
        n2533, n2581, n2433, n2578, n2407, n2504, n2530, n2527, 
        n2476, n2428, n2507, n2473, n2728, n2722, n2524, n2716, 
        n2, n2327, n2710, n2328, n2324, clk_enable_2, n2704, n2701, 
        n2698, n2695, n2692, n2689, n2686, n2680, n2674, n2671, 
        n2668, n2662, n2659, n2656, n2653, n2650, n2644, n2641, 
        n2638, n2632, n2611, n2608, n2521, n2572, n2569, n2605, 
        n2074, n2620, n2079, n2617, n8, n2626, n2629, n2338, 
        n2414, n2467, n2401, n2357, n983, n4_adj_1, n2464, n2036, 
        n2422, n2566, n6, n2563, n2508, n2460, n2505, n2457, 
        n2432, n2419, n2560, n2557, n2455, n2502, n2499, n1, 
        n2554, n2010, n2326, n2005, n2120, n2452, n2026, n2449, 
        n2022, n2025, n2029, n2031, n2033, n2614, n2415, n2551, 
        n2518;
    
    VHI i2 (.Z(VCC_net));
    (* lse_init_val=0 *) FD1P3XZ bit_counter__i0 (.D(n2373), .SP(VCC_net), 
            .CK(clk), .SR(reset_c), .Q(bit_counter[0]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam bit_counter__i0.REGSET = "RESET";
    defparam bit_counter__i0.SRMODE = "ASYNC";
    (* lut_function="(A (B)+!A !(B (C)+!B !(C)))" *) LUT4 i2_3_lut (.A(bit_counter[3]), 
            .B(byte_counter[1]), .C(byte_counter[0]), .Z(CIPO_N_286[4]));
    defparam i2_3_lut.INIT = "0x9c9c";
    (* syn_instantiated=1 *) HSOSC_CORE H (.CLKHFPU(VCC_net), .CLKHFEN(VCC_net), 
            .TRIM9(GND_net), .TRIM8(GND_net), .TRIM7(GND_net), .TRIM6(GND_net), 
            .TRIM5(GND_net), .TRIM4(GND_net), .TRIM3(GND_net), .TRIM2(GND_net), 
            .TRIM1(GND_net), .TRIM0(GND_net), .CLKHF(clk));
    defparam H.CLKHF_DIV = "0b00";
    defparam H.FABRIC_TRIME = "DISABLE";
    (* lut_function="(A (B+!(C))+!A (B (C)))" *) LUT4 i1604_3_lut (.A(n2599), 
            .B(n2695), .C(bit_counter[2]), .Z(n2508));
    defparam i1604_3_lut.INIT = "0xcaca";
    (* lut_function="(A (C+!(D))+!A (B (D)))" *) LUT4 \bit_counter[0]_bdd_4_lut_9  (.A(bit_counter[0]), 
            .B(image_shiftreg[94]), .C(image_shiftreg[95]), .D(bit_counter[1]), 
            .Z(n2584));
    defparam \bit_counter[0]_bdd_4_lut_9 .INIT = "0xe4aa";
    (* lut_function="(A (B+!(C))+!A (B (C)))" *) LUT4 i1510_3_lut (.A(n2605), 
            .B(n2521), .C(bit_counter[2]), .Z(n2414));
    defparam i1510_3_lut.INIT = "0xcaca";
    (* lut_function="(!(A+!(B+(C))))" *) LUT4 i1217_3_lut (.A(n885), .B(s[0]), 
            .C(n2338), .Z(n2036));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam i1217_3_lut.INIT = "0x5454";
    (* lut_function="(!(A+(B+((D)+!C))))" *) LUT4 i3_4_lut (.A(n2120), .B(reset_c), 
            .C(byte_counter[4]), .D(s[1]), .Z(n2338));
    defparam i3_4_lut.INIT = "0x0010";
    OB \led_array_pad[7]  (.I(led_array_c_127), .O(led_array[7]));   /* synthesis lineinfo="@0(7[9],7[18])"*/
    (* lut_function="(A (C+!(D))+!A (B (D)))" *) LUT4 \bit_counter[0]_bdd_4_lut_3  (.A(bit_counter[0]), 
            .B(image_shiftreg[38]), .C(image_shiftreg[39]), .D(bit_counter[1]), 
            .Z(n2524));
    defparam \bit_counter[0]_bdd_4_lut_3 .INIT = "0xe4aa";
    (* lut_function="(!(A+!(B)))" *) LUT4 i1_2_lut (.A(n2120), .B(s[0]), 
            .Z(n4));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam i1_2_lut.INIT = "0x4444";
    (* lut_function="(A (B+(D))+!A !((D)+!C))" *) LUT4 n2590_bdd_4_lut (.A(n2590), 
            .B(image_shiftreg[65]), .C(image_shiftreg[64]), .D(bit_counter[1]), 
            .Z(n2593));
    defparam n2590_bdd_4_lut.INIT = "0xaad8";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i3_4_lut_adj_1 (.A(byte_counter[3]), 
            .B(byte_counter[2]), .C(byte_counter[1]), .D(byte_counter[0]), 
            .Z(n2120));
    defparam i3_4_lut_adj_1.INIT = "0xfffe";
    (* lut_function="(!((B)+!A))" *) LUT4 i1612_2_lut (.A(s[0]), .B(s[1]), 
            .Z(led_c));   /* synthesis lineinfo="@0(45[21],45[30])"*/
    defparam i1612_2_lut.INIT = "0x2222";
    (* lut_function="(A (B+!(C))+!A (B (C)))" *) LUT4 i1597_3_lut (.A(image_shiftreg[84]), 
            .B(image_shiftreg[85]), .C(bit_counter[0]), .Z(n2501));
    defparam i1597_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+(D))+!A !((D)+!C))" *) LUT4 n2668_bdd_4_lut (.A(n2668), 
            .B(n2457), .C(n2611), .D(CIPO_N_286[4]), .Z(n2671));
    defparam n2668_bdd_4_lut.INIT = "0xaad8";
    (* lut_function="(A (C+!(D))+!A (B (D)))" *) LUT4 \bit_counter[0]_bdd_4_lut_19  (.A(bit_counter[0]), 
            .B(image_shiftreg[46]), .C(image_shiftreg[47]), .D(bit_counter[1]), 
            .Z(n2662));
    defparam \bit_counter[0]_bdd_4_lut_19 .INIT = "0xe4aa";
    (* lut_function="(A (B+!(C))+!A (B (C)))" *) LUT4 i1511_3_lut (.A(n2641), 
            .B(n2689), .C(bit_counter[2]), .Z(n2415));
    defparam i1511_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A (B (C)))" *) LUT4 i1598_3_lut (.A(image_shiftreg[86]), 
            .B(image_shiftreg[87]), .C(bit_counter[0]), .Z(n2502));
    defparam i1598_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+(D))+!A !((D)+!C))" *) LUT4 n2662_bdd_4_lut (.A(n2662), 
            .B(image_shiftreg[45]), .C(image_shiftreg[44]), .D(bit_counter[1]), 
            .Z(n2401));
    defparam n2662_bdd_4_lut.INIT = "0xaad8";
    (* lut_function="(A (B+!(C))+!A (B (C)))" *) LUT4 i1553_3_lut (.A(n2737), 
            .B(n2659), .C(bit_counter[2]), .Z(n2457));
    defparam i1553_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A (B (C)))" *) LUT4 i1603_3_lut (.A(n2593), 
            .B(n2701), .C(bit_counter[2]), .Z(n2507));
    defparam i1603_3_lut.INIT = "0xcaca";
    IOL_B data_ready_i1 (.PADDI(GND_net), .DO1(GND_net), .DO0(s[0]), .CE(clk_enable_2), 
          .IOLTO(GND_net), .HOLD(GND_net), .INCLK(GND_net), .OUTCLK(clk), 
          .PADDO(data_ready_c));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam data_ready_i1.LATCHIN = "LATCH_REG";
    defparam data_ready_i1.DDROUT = "NO";
    (* lut_function="(A (C+!(D))+!A (B (D)))" *) LUT4 \bit_counter[0]_bdd_4_lut_10  (.A(bit_counter[0]), 
            .B(image_shiftreg[66]), .C(image_shiftreg[67]), .D(bit_counter[1]), 
            .Z(n2590));
    defparam \bit_counter[0]_bdd_4_lut_10 .INIT = "0xe4aa";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i0 (.D(image_shiftreg[1]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[0]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i0.REGSET = "RESET";
    defparam image_shiftreg_i0_i0.SRMODE = "ASYNC";
    (* lut_function="(A (B+(D))+!A !((D)+!C))" *) LUT4 n2530_bdd_4_lut (.A(n2530), 
            .B(image_shiftreg[5]), .C(image_shiftreg[4]), .D(bit_counter[1]), 
            .Z(n2533));
    defparam n2530_bdd_4_lut.INIT = "0xaad8";
    (* lut_function="(A (B+!(C))+!A (B (C)))" *) LUT4 i1601_3_lut (.A(image_shiftreg[82]), 
            .B(image_shiftreg[83]), .C(bit_counter[0]), .Z(n2505));
    defparam i1601_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+(D))+!A !((D)+!C))" *) LUT4 n2596_bdd_4_lut (.A(n2596), 
            .B(image_shiftreg[73]), .C(image_shiftreg[72]), .D(bit_counter[1]), 
            .Z(n2599));
    defparam n2596_bdd_4_lut.INIT = "0xaad8";
    (* lut_function="(A (B+(D))+!A !((D)+!C))" *) LUT4 n2572_bdd_4_lut (.A(n2572), 
            .B(image_shiftreg[29]), .C(image_shiftreg[28]), .D(bit_counter[1]), 
            .Z(n2488));
    defparam n2572_bdd_4_lut.INIT = "0xaad8";
    (* lse_init_val=0 *) IOL_B controller_clk_last_c (.PADDI(controller_clk_c), 
            .DO1(GND_net), .DO0(GND_net), .CE(clk_enable_2), .IOLTO(GND_net), 
            .HOLD(GND_net), .INCLK(clk), .OUTCLK(GND_net), .DI0(controller_clk_last));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam controller_clk_last_c.LATCHIN = "NONE_REG";
    defparam controller_clk_last_c.DDROUT = "NO";
    VLO i1762 (.Z(GND_net));
    (* lut_function="(A (B+!(C))+!A (B (C)))" *) LUT4 i1600_3_lut (.A(image_shiftreg[80]), 
            .B(image_shiftreg[81]), .C(bit_counter[0]), .Z(n2504));
    defparam i1600_3_lut.INIT = "0xcaca";
    (* lut_function="(!(A+!(B)))" *) LUT4 i1_2_lut_adj_2 (.A(s[1]), .B(n8), 
            .Z(n2022));   /* synthesis lineinfo="@0(11[9],11[11])"*/
    defparam i1_2_lut_adj_2.INIT = "0x4444";
    (* lse_init_val=0 *) FD1P3XZ controller_clk_last_last_c (.D(controller_clk_last), 
            .SP(clk_enable_2), .CK(clk), .SR(GND_net), .Q(controller_clk_last_last));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam controller_clk_last_last_c.REGSET = "RESET";
    defparam controller_clk_last_last_c.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0 *) FD1P3XZ byte_counter_i0_i1 (.D(n2327), .SP(n2022), 
            .CK(clk), .SR(reset_c), .Q(byte_counter[1]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam byte_counter_i0_i1.REGSET = "RESET";
    defparam byte_counter_i0_i1.SRMODE = "ASYNC";
    (* lut_function="(A (C+!(D))+!A (B (D)))" *) LUT4 \bit_counter[0]_bdd_4_lut_8  (.A(bit_counter[0]), 
            .B(image_shiftreg[30]), .C(image_shiftreg[31]), .D(bit_counter[1]), 
            .Z(n2572));
    defparam \bit_counter[0]_bdd_4_lut_8 .INIT = "0xe4aa";
    (* lut_function="(A (B+(D))+!A !((D)+!C))" *) LUT4 n2638_bdd_4_lut (.A(n2638), 
            .B(led_array_c_121), .C(led_array_c_120), .D(bit_counter[1]), 
            .Z(n2641));
    defparam n2638_bdd_4_lut.INIT = "0xaad8";
    (* lut_function="(A (C+!(D))+!A (B (D)))" *) LUT4 \bit_counter[0]_bdd_4_lut_15  (.A(bit_counter[0]), 
            .B(led_array_c_122), .C(led_array_c_123), .D(bit_counter[1]), 
            .Z(n2638));
    defparam \bit_counter[0]_bdd_4_lut_15 .INIT = "0xe4aa";
    (* lut_function="(A (C+!(D))+!A (B (D)))" *) LUT4 \bit_counter[1]_bdd_4_lut  (.A(bit_counter[1]), 
            .B(n2501), .C(n2502), .D(bit_counter[2]), .Z(n2614));
    defparam \bit_counter[1]_bdd_4_lut .INIT = "0xe4aa";
    (* lut_function="(A (C+!(D))+!A (B (D)))" *) LUT4 \bit_counter[0]_bdd_4_lut_11  (.A(bit_counter[0]), 
            .B(image_shiftreg[74]), .C(image_shiftreg[75]), .D(bit_counter[1]), 
            .Z(n2596));
    defparam \bit_counter[0]_bdd_4_lut_11 .INIT = "0xe4aa";
    (* lut_function="(A (B+(D))+!A !((D)+!C))" *) LUT4 n2644_bdd_4_lut (.A(n2644), 
            .B(image_shiftreg[21]), .C(image_shiftreg[20]), .D(bit_counter[1]), 
            .Z(n2473));
    defparam n2644_bdd_4_lut.INIT = "0xaad8";
    (* lut_function="(A (B+(D))+!A !((D)+!C))" *) LUT4 n2548_bdd_4_lut (.A(n2548), 
            .B(image_shiftreg[53]), .C(image_shiftreg[52]), .D(bit_counter[1]), 
            .Z(n2551));
    defparam n2548_bdd_4_lut.INIT = "0xaad8";
    (* lut_function="(A (C+!(D))+!A (B (D)))" *) LUT4 \bit_counter[0]_bdd_4_lut_4  (.A(bit_counter[0]), 
            .B(image_shiftreg[6]), .C(image_shiftreg[7]), .D(bit_counter[1]), 
            .Z(n2530));
    defparam \bit_counter[0]_bdd_4_lut_4 .INIT = "0xe4aa";
    (* lut_function="(A (C+!(D))+!A (B (D)))" *) LUT4 \CIPO_N_286[3]_bdd_4_lut  (.A(CIPO_N_286[3]), 
            .B(n2414), .C(n2415), .D(CIPO_N_286[4]), .Z(n2668));
    defparam \CIPO_N_286[3]_bdd_4_lut .INIT = "0xe4aa";
    (* lse_init_val=0 *) FD1P3XZ s_i0 (.D(n2036), .SP(VCC_net), .CK(clk), 
            .SR(GND_net), .Q(s[0]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam s_i0.REGSET = "RESET";
    defparam s_i0.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0 *) FD1P3XZ byte_counter_i0_i2 (.D(n2326), .SP(n2022), 
            .CK(clk), .SR(reset_c), .Q(byte_counter[2]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam byte_counter_i0_i2.REGSET = "RESET";
    defparam byte_counter_i0_i2.SRMODE = "ASYNC";
    OB \led_array_pad[6]  (.I(led_array_c_126), .O(led_array[6]));   /* synthesis lineinfo="@0(7[9],7[18])"*/
    OB \led_array_pad[5]  (.I(led_array_c_125), .O(led_array[5]));   /* synthesis lineinfo="@0(7[9],7[18])"*/
    OB \led_array_pad[4]  (.I(led_array_c_124), .O(led_array[4]));   /* synthesis lineinfo="@0(7[9],7[18])"*/
    OB \led_array_pad[3]  (.I(led_array_c_123), .O(led_array[3]));   /* synthesis lineinfo="@0(7[9],7[18])"*/
    OB \led_array_pad[2]  (.I(led_array_c_122), .O(led_array[2]));   /* synthesis lineinfo="@0(7[9],7[18])"*/
    OB \led_array_pad[1]  (.I(led_array_c_121), .O(led_array[1]));   /* synthesis lineinfo="@0(7[9],7[18])"*/
    OB \led_array_pad[0]  (.I(led_array_c_120), .O(led_array[0]));   /* synthesis lineinfo="@0(7[9],7[18])"*/
    OB CIPO_pad (.I(CIPO_c), .O(CIPO));   /* synthesis lineinfo="@0(12[9],12[13])"*/
    OB led_pad (.I(led_c), .O(led));   /* synthesis lineinfo="@0(13[3],13[6])"*/
    OB data_ready_pad (.I(data_ready_c), .O(data_ready));   /* synthesis lineinfo="@0(14[9],14[19])"*/
    IB reset_pad (.I(reset), .O(reset_c));   /* synthesis lineinfo="@0(8[9],8[14])"*/
    IB controller_clk_pad (.I(controller_clk), .O(controller_clk_c));   /* synthesis lineinfo="@0(9[9],9[23])"*/
    IB COPI_pad (.I(COPI), .O(COPI_c));   /* synthesis lineinfo="@0(10[9],10[13])"*/
    IB CS_pad (.I(CS), .O(CS_c));   /* synthesis lineinfo="@0(11[9],11[11])"*/
    (* lut_function="(A (B+(D))+!A !((D)+!C))" *) LUT4 n2560_bdd_4_lut (.A(n2560), 
            .B(n2473), .C(n2464), .D(CIPO_N_286[3]), .Z(n2563));
    defparam n2560_bdd_4_lut.INIT = "0xaad8";
    (* lut_function="(!(A (B)+!A !(B)))" *) LUT4 i1_2_lut_adj_3 (.A(bit_counter[3]), 
            .B(byte_counter[0]), .Z(CIPO_N_286[3]));
    defparam i1_2_lut_adj_3.INIT = "0x6666";
    (* lut_function="(A (C+!(D))+!A (B (D)))" *) LUT4 \bit_counter[2]_bdd_4_lut_4  (.A(bit_counter[2]), 
            .B(n2476), .C(n2488), .D(CIPO_N_286[3]), .Z(n2560));
    defparam \bit_counter[2]_bdd_4_lut_4 .INIT = "0xe4aa";
    (* lut_function="(!((B+(C))+!A))" *) LUT4 i1_2_lut_3_lut (.A(controller_clk_last), 
            .B(controller_clk_last_last), .C(CS_c), .Z(n8));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam i1_2_lut_3_lut.INIT = "0x0202";
    (* lut_function="(!(A))" *) LUT4 i105_1_lut (.A(reset_c), .Z(clk_enable_2));   /* synthesis lineinfo="@0(8[9],8[14])"*/
    defparam i105_1_lut.INIT = "0x5555";
    (* lut_function="(A (B+!(C))+!A (B (C)))" *) LUT4 i1556_3_lut (.A(n2569), 
            .B(n2587), .C(bit_counter[2]), .Z(n2460));
    defparam i1556_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+(D))+!A !((D)+!C))" *) LUT4 n2566_bdd_4_lut (.A(n2566), 
            .B(image_shiftreg[89]), .C(image_shiftreg[88]), .D(bit_counter[1]), 
            .Z(n2569));
    defparam n2566_bdd_4_lut.INIT = "0xaad8";
    (* lut_function="(A (B+(D))+!A !((D)+!C))" *) LUT4 n2674_bdd_4_lut (.A(n2674), 
            .B(image_shiftreg[33]), .C(image_shiftreg[32]), .D(bit_counter[1]), 
            .Z(n2428));
    defparam n2674_bdd_4_lut.INIT = "0xaad8";
    (* lut_function="(A (C+!(D))+!A (B (D)))" *) LUT4 \bit_counter[0]_bdd_4_lut_7  (.A(bit_counter[0]), 
            .B(image_shiftreg[90]), .C(image_shiftreg[91]), .D(bit_counter[1]), 
            .Z(n2566));
    defparam \bit_counter[0]_bdd_4_lut_7 .INIT = "0xe4aa";
    (* lut_function="(A (B+(D))+!A !((D)+!C))" *) LUT4 n2554_bdd_4_lut (.A(n2554), 
            .B(n2551), .C(n2407), .D(CIPO_N_286[3]), .Z(n2557));
    defparam n2554_bdd_4_lut.INIT = "0xaad8";
    (* lut_function="(A (C+!(D))+!A (B (D)))" *) LUT4 \bit_counter[0]_bdd_4_lut_18  (.A(bit_counter[0]), 
            .B(image_shiftreg[110]), .C(image_shiftreg[111]), .D(bit_counter[1]), 
            .Z(n2656));
    defparam \bit_counter[0]_bdd_4_lut_18 .INIT = "0xe4aa";
    (* lut_function="(A (B+(D))+!A !((D)+!C))" *) LUT4 n2656_bdd_4_lut (.A(n2656), 
            .B(image_shiftreg[109]), .C(image_shiftreg[108]), .D(bit_counter[1]), 
            .Z(n2659));
    defparam n2656_bdd_4_lut.INIT = "0xaad8";
    (* lut_function="(A (C+!(D))+!A (B (D)))" *) LUT4 \bit_counter[0]_bdd_4_lut_20  (.A(bit_counter[0]), 
            .B(image_shiftreg[34]), .C(image_shiftreg[35]), .D(bit_counter[1]), 
            .Z(n2674));
    defparam \bit_counter[0]_bdd_4_lut_20 .INIT = "0xe4aa";
    (* lut_function="(A (B+!(C))+!A (B (C)))" *) LUT4 i1528_3_lut (.A(image_shiftreg[100]), 
            .B(image_shiftreg[101]), .C(bit_counter[0]), .Z(n2432));
    defparam i1528_3_lut.INIT = "0xcaca";
    (* lut_function="(A (C)+!A !(B (C)+!B !(C)))" *) LUT4 i1_2_lut_3_lut_adj_4 (.A(bit_counter[3]), 
            .B(n983), .C(byte_counter[0]), .Z(n2010));
    defparam i1_2_lut_3_lut_adj_4.INIT = "0xb4b4";
    (* lut_function="(A (B+!(C))+!A (B (C)))" *) LUT4 i1529_3_lut (.A(image_shiftreg[102]), 
            .B(image_shiftreg[103]), .C(bit_counter[0]), .Z(n2433));
    defparam i1529_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A (B (C)))" *) LUT4 i1595_3_lut (.A(image_shiftreg[98]), 
            .B(image_shiftreg[99]), .C(bit_counter[0]), .Z(n2499));
    defparam i1595_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+(D))+!A !((D)+!C))" *) LUT4 n2626_bdd_4_lut (.A(n2626), 
            .B(n2508), .C(n2507), .D(CIPO_N_286[4]), .Z(n2629));
    defparam n2626_bdd_4_lut.INIT = "0xaad8";
    (* lut_function="(!(A (B ((D)+!C)+!B (C+(D)))+!A ((D)+!C)))" *) LUT4 i1_3_lut_4_lut (.A(controller_clk_last), 
            .B(controller_clk_last_last), .C(bit_counter[0]), .D(CS_c), 
            .Z(n2373));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam i1_3_lut_4_lut.INIT = "0x00d2";
    (* lut_function="(A (B+!(C))+!A (B (C)))" *) LUT4 i1594_3_lut (.A(image_shiftreg[96]), 
            .B(image_shiftreg[97]), .C(bit_counter[0]), .Z(n2498));
    defparam i1594_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+(D))+!A !((D)+!C))" *) LUT4 n2620_bdd_4_lut (.A(n2620), 
            .B(image_shiftreg[49]), .C(image_shiftreg[48]), .D(bit_counter[1]), 
            .Z(n2407));
    defparam n2620_bdd_4_lut.INIT = "0xaad8";
    (* lut_function="(A (C+!(D))+!A (B (D)))" *) LUT4 \bit_counter[0]_bdd_4_lut_6  (.A(bit_counter[0]), 
            .B(image_shiftreg[54]), .C(image_shiftreg[55]), .D(bit_counter[1]), 
            .Z(n2548));
    defparam \bit_counter[0]_bdd_4_lut_6 .INIT = "0xe4aa";
    (* lut_function="(A (C+!(D))+!A (B (D)))" *) LUT4 \bit_counter[0]_bdd_4_lut_13  (.A(bit_counter[0]), 
            .B(image_shiftreg[50]), .C(image_shiftreg[51]), .D(bit_counter[1]), 
            .Z(n2620));
    defparam \bit_counter[0]_bdd_4_lut_13 .INIT = "0xe4aa";
    (* lut_function="(A (B (D)+!B !(C (D)+!C !(D)))+!A (B (C (D)+!C !(D))+!B (D)))" *) LUT4 i2_4_lut (.A(byte_counter[1]), 
            .B(s[0]), .C(n2), .D(byte_counter[2]), .Z(n2326));   /* synthesis lineinfo="@0(57[17],79[24])"*/
    defparam i2_4_lut.INIT = "0xdb24";
    (* lut_function="(A (B+(D))+!A !((D)+!C))" *) LUT4 n2680_bdd_4_lut (.A(n2680), 
            .B(image_shiftreg[17]), .C(image_shiftreg[16]), .D(bit_counter[1]), 
            .Z(n2464));
    defparam n2680_bdd_4_lut.INIT = "0xaad8";
    (* lut_function="(A (B+(D))+!A !((D)+!C))" *) LUT4 n2602_bdd_4_lut (.A(n2602), 
            .B(image_shiftreg[113]), .C(image_shiftreg[112]), .D(bit_counter[1]), 
            .Z(n2605));
    defparam n2602_bdd_4_lut.INIT = "0xaad8";
    (* lut_function="(!(A (B (C+(D))+!B (C+!(D)))+!A (C+!(D))))" *) LUT4 i1292_3_lut_4_lut (.A(bit_counter[1]), 
            .B(bit_counter[0]), .C(CS_c), .D(bit_counter[2]), .Z(n2031));
    defparam i1292_3_lut_4_lut.INIT = "0x0708";
    (* lut_function="(A (B (C)+!B !(C))+!A !(B (C)+!B !(C)))" *) LUT4 i2_3_lut_adj_5 (.A(n6), 
            .B(s[0]), .C(byte_counter[3]), .Z(n2328));   /* synthesis lineinfo="@0(57[17],79[24])"*/
    defparam i2_3_lut_adj_5.INIT = "0x9696";
    (* lut_function="(A (C+!(D))+!A (B (D)))" *) LUT4 \bit_counter[0]_bdd_4_lut_21  (.A(bit_counter[0]), 
            .B(image_shiftreg[18]), .C(image_shiftreg[19]), .D(bit_counter[1]), 
            .Z(n2680));
    defparam \bit_counter[0]_bdd_4_lut_21 .INIT = "0xe4aa";
    (* lut_function="(A (C+!(D))+!A (B (D)))" *) LUT4 \CIPO_N_286[3]_bdd_4_lut_2  (.A(CIPO_N_286[3]), 
            .B(n2617), .C(n2460), .D(CIPO_N_286[4]), .Z(n2626));
    defparam \CIPO_N_286[3]_bdd_4_lut_2 .INIT = "0xe4aa";
    (* lut_function="(A (C+!(D))+!A (B (D)))" *) LUT4 \bit_counter[0]_bdd_4_lut_16  (.A(bit_counter[0]), 
            .B(image_shiftreg[22]), .C(image_shiftreg[23]), .D(bit_counter[1]), 
            .Z(n2644));
    defparam \bit_counter[0]_bdd_4_lut_16 .INIT = "0xe4aa";
    (* lut_function="(A (B+(D))+!A !((D)+!C))" *) LUT4 n2518_bdd_4_lut (.A(n2518), 
            .B(image_shiftreg[117]), .C(image_shiftreg[116]), .D(bit_counter[1]), 
            .Z(n2521));
    defparam n2518_bdd_4_lut.INIT = "0xaad8";
    (* lut_function="(A (B+(D))+!A !((D)+!C))" *) LUT4 n2686_bdd_4_lut (.A(n2686), 
            .B(led_array_c_125), .C(led_array_c_124), .D(bit_counter[1]), 
            .Z(n2689));
    defparam n2686_bdd_4_lut.INIT = "0xaad8";
    (* lut_function="(A (B+(C (D)))+!A (B (C+(D))))" *) LUT4 i237_4_lut (.A(byte_counter[2]), 
            .B(s[0]), .C(byte_counter[1]), .D(n2), .Z(n6));   /* synthesis lineinfo="@0(57[17],79[24])"*/
    defparam i237_4_lut.INIT = "0xecc8";
    (* lut_function="(A (B (D)+!B !(C (D)+!C !(D)))+!A (B (C (D)+!C !(D))+!B (D)))" *) LUT4 i2_4_lut_adj_6 (.A(byte_counter[3]), 
            .B(s[0]), .C(n6), .D(byte_counter[4]), .Z(n2324));   /* synthesis lineinfo="@0(57[17],79[24])"*/
    defparam i2_4_lut_adj_6.INIT = "0xdb24";
    (* lut_function="(A (C+!(D))+!A (B (D)))" *) LUT4 \bit_counter[0]_bdd_4_lut_22  (.A(bit_counter[0]), 
            .B(led_array_c_126), .C(led_array_c_127), .D(bit_counter[1]), 
            .Z(n2686));
    defparam \bit_counter[0]_bdd_4_lut_22 .INIT = "0xe4aa";
    (* lut_function="(A (B+(D))+!A !((D)+!C))" *) LUT4 n2692_bdd_4_lut (.A(n2692), 
            .B(image_shiftreg[77]), .C(image_shiftreg[76]), .D(bit_counter[1]), 
            .Z(n2695));
    defparam n2692_bdd_4_lut.INIT = "0xaad8";
    (* lut_function="(A (C+!(D))+!A (B (D)))" *) LUT4 \bit_counter[0]_bdd_4_lut_23  (.A(bit_counter[0]), 
            .B(image_shiftreg[78]), .C(image_shiftreg[79]), .D(bit_counter[1]), 
            .Z(n2692));
    defparam \bit_counter[0]_bdd_4_lut_23 .INIT = "0xe4aa";
    (* lut_function="(A (B+(D))+!A !((D)+!C))" *) LUT4 n2698_bdd_4_lut (.A(n2698), 
            .B(image_shiftreg[69]), .C(image_shiftreg[68]), .D(bit_counter[1]), 
            .Z(n2701));
    defparam n2698_bdd_4_lut.INIT = "0xaad8";
    (* lut_function="(A (C+!(D))+!A (B (D)))" *) LUT4 \bit_counter[0]_bdd_4_lut_24  (.A(bit_counter[0]), 
            .B(image_shiftreg[70]), .C(image_shiftreg[71]), .D(bit_counter[1]), 
            .Z(n2698));
    defparam \bit_counter[0]_bdd_4_lut_24 .INIT = "0xe4aa";
    (* lse_init_val=0 *) FD1P3XZ byte_counter_i0_i3 (.D(n2328), .SP(n2022), 
            .CK(clk), .SR(reset_c), .Q(byte_counter[3]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam byte_counter_i0_i3.REGSET = "RESET";
    defparam byte_counter_i0_i3.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ byte_counter_i0_i4 (.D(n2324), .SP(n2022), 
            .CK(clk), .SR(reset_c), .Q(byte_counter[4]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam byte_counter_i0_i4.REGSET = "RESET";
    defparam byte_counter_i0_i4.SRMODE = "ASYNC";
    FD1P3XZ CIPO_i0 (.D(n1), .SP(n2074), .CK(clk), .SR(n2026), .Q(CIPO_c));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam CIPO_i0.REGSET = "RESET";
    defparam CIPO_i0.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i1 (.D(image_shiftreg[2]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[1]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i1.REGSET = "RESET";
    defparam image_shiftreg_i0_i1.SRMODE = "ASYNC";
    (* lut_function="(A (B+(D))+!A !((D)+!C))" *) LUT4 n2704_bdd_4_lut (.A(n2704), 
            .B(n2533), .C(n2653), .D(CIPO_N_286[3]), .Z(n2455));
    defparam n2704_bdd_4_lut.INIT = "0xaad8";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i2 (.D(image_shiftreg[3]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[2]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i2.REGSET = "RESET";
    defparam image_shiftreg_i0_i2.SRMODE = "ASYNC";
    (* lut_function="(A ((C+!(D))+!B)+!A ((C (D))+!B))" *) LUT4 i1284_4_lut (.A(n2467), 
            .B(s[0]), .C(n2581), .D(n2005), .Z(n1));   /* synthesis lineinfo="@0(60[21],78[30])"*/
    defparam i1284_4_lut.INIT = "0xf3bb";
    (* lut_function="(A (C+!(D))+!A (B (D)))" *) LUT4 \bit_counter[2]_bdd_4_lut  (.A(bit_counter[2]), 
            .B(n2449), .C(n2452), .D(CIPO_N_286[3]), .Z(n2704));
    defparam \bit_counter[2]_bdd_4_lut .INIT = "0xe4aa";
    (* lut_function="(A (B+(D))+!A !((D)+!C))" *) LUT4 n2710_bdd_4_lut (.A(n2710), 
            .B(image_shiftreg[61]), .C(image_shiftreg[60]), .D(bit_counter[1]), 
            .Z(n2422));
    defparam n2710_bdd_4_lut.INIT = "0xaad8";
    (* lut_function="(A (C+!(D))+!A (B (D)))" *) LUT4 \bit_counter[0]_bdd_4_lut_25  (.A(bit_counter[0]), 
            .B(image_shiftreg[62]), .C(image_shiftreg[63]), .D(bit_counter[1]), 
            .Z(n2710));
    defparam \bit_counter[0]_bdd_4_lut_25 .INIT = "0xe4aa";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i3 (.D(image_shiftreg[4]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[3]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i3.REGSET = "RESET";
    defparam image_shiftreg_i0_i3.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i4 (.D(image_shiftreg[5]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[4]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i4.REGSET = "RESET";
    defparam image_shiftreg_i0_i4.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i5 (.D(image_shiftreg[6]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[5]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i5.REGSET = "RESET";
    defparam image_shiftreg_i0_i5.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i6 (.D(image_shiftreg[7]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[6]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i6.REGSET = "RESET";
    defparam image_shiftreg_i0_i6.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i7 (.D(image_shiftreg[8]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[7]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i7.REGSET = "RESET";
    defparam image_shiftreg_i0_i7.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i8 (.D(image_shiftreg[9]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[8]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i8.REGSET = "RESET";
    defparam image_shiftreg_i0_i8.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i9 (.D(image_shiftreg[10]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[9]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i9.REGSET = "RESET";
    defparam image_shiftreg_i0_i9.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i10 (.D(image_shiftreg[11]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[10]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i10.REGSET = "RESET";
    defparam image_shiftreg_i0_i10.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i11 (.D(image_shiftreg[12]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[11]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i11.REGSET = "RESET";
    defparam image_shiftreg_i0_i11.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i12 (.D(image_shiftreg[13]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[12]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i12.REGSET = "RESET";
    defparam image_shiftreg_i0_i12.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i13 (.D(image_shiftreg[14]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[13]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i13.REGSET = "RESET";
    defparam image_shiftreg_i0_i13.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i14 (.D(image_shiftreg[15]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[14]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i14.REGSET = "RESET";
    defparam image_shiftreg_i0_i14.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i15 (.D(image_shiftreg[16]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[15]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i15.REGSET = "RESET";
    defparam image_shiftreg_i0_i15.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i16 (.D(image_shiftreg[17]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[16]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i16.REGSET = "RESET";
    defparam image_shiftreg_i0_i16.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i17 (.D(image_shiftreg[18]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[17]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i17.REGSET = "RESET";
    defparam image_shiftreg_i0_i17.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i18 (.D(image_shiftreg[19]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[18]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i18.REGSET = "RESET";
    defparam image_shiftreg_i0_i18.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i19 (.D(image_shiftreg[20]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[19]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i19.REGSET = "RESET";
    defparam image_shiftreg_i0_i19.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i20 (.D(image_shiftreg[21]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[20]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i20.REGSET = "RESET";
    defparam image_shiftreg_i0_i20.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i21 (.D(image_shiftreg[22]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[21]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i21.REGSET = "RESET";
    defparam image_shiftreg_i0_i21.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i22 (.D(image_shiftreg[23]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[22]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i22.REGSET = "RESET";
    defparam image_shiftreg_i0_i22.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i23 (.D(image_shiftreg[24]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[23]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i23.REGSET = "RESET";
    defparam image_shiftreg_i0_i23.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i24 (.D(image_shiftreg[25]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[24]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i24.REGSET = "RESET";
    defparam image_shiftreg_i0_i24.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i25 (.D(image_shiftreg[26]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[25]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i25.REGSET = "RESET";
    defparam image_shiftreg_i0_i25.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i26 (.D(image_shiftreg[27]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[26]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i26.REGSET = "RESET";
    defparam image_shiftreg_i0_i26.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i27 (.D(image_shiftreg[28]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[27]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i27.REGSET = "RESET";
    defparam image_shiftreg_i0_i27.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i28 (.D(image_shiftreg[29]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[28]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i28.REGSET = "RESET";
    defparam image_shiftreg_i0_i28.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i29 (.D(image_shiftreg[30]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[29]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i29.REGSET = "RESET";
    defparam image_shiftreg_i0_i29.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i30 (.D(image_shiftreg[31]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[30]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i30.REGSET = "RESET";
    defparam image_shiftreg_i0_i30.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i31 (.D(image_shiftreg[32]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[31]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i31.REGSET = "RESET";
    defparam image_shiftreg_i0_i31.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i32 (.D(image_shiftreg[33]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[32]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i32.REGSET = "RESET";
    defparam image_shiftreg_i0_i32.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i33 (.D(image_shiftreg[34]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[33]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i33.REGSET = "RESET";
    defparam image_shiftreg_i0_i33.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i34 (.D(image_shiftreg[35]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[34]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i34.REGSET = "RESET";
    defparam image_shiftreg_i0_i34.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i35 (.D(image_shiftreg[36]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[35]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i35.REGSET = "RESET";
    defparam image_shiftreg_i0_i35.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i36 (.D(image_shiftreg[37]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[36]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i36.REGSET = "RESET";
    defparam image_shiftreg_i0_i36.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i37 (.D(image_shiftreg[38]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[37]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i37.REGSET = "RESET";
    defparam image_shiftreg_i0_i37.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i38 (.D(image_shiftreg[39]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[38]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i38.REGSET = "RESET";
    defparam image_shiftreg_i0_i38.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i39 (.D(image_shiftreg[40]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[39]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i39.REGSET = "RESET";
    defparam image_shiftreg_i0_i39.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i40 (.D(image_shiftreg[41]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[40]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i40.REGSET = "RESET";
    defparam image_shiftreg_i0_i40.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i41 (.D(image_shiftreg[42]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[41]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i41.REGSET = "RESET";
    defparam image_shiftreg_i0_i41.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i42 (.D(image_shiftreg[43]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[42]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i42.REGSET = "RESET";
    defparam image_shiftreg_i0_i42.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i43 (.D(image_shiftreg[44]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[43]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i43.REGSET = "RESET";
    defparam image_shiftreg_i0_i43.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i44 (.D(image_shiftreg[45]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[44]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i44.REGSET = "RESET";
    defparam image_shiftreg_i0_i44.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i45 (.D(image_shiftreg[46]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[45]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i45.REGSET = "RESET";
    defparam image_shiftreg_i0_i45.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i46 (.D(image_shiftreg[47]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[46]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i46.REGSET = "RESET";
    defparam image_shiftreg_i0_i46.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i47 (.D(image_shiftreg[48]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[47]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i47.REGSET = "RESET";
    defparam image_shiftreg_i0_i47.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i48 (.D(image_shiftreg[49]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[48]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i48.REGSET = "RESET";
    defparam image_shiftreg_i0_i48.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i49 (.D(image_shiftreg[50]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[49]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i49.REGSET = "RESET";
    defparam image_shiftreg_i0_i49.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i50 (.D(image_shiftreg[51]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[50]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i50.REGSET = "RESET";
    defparam image_shiftreg_i0_i50.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i51 (.D(image_shiftreg[52]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[51]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i51.REGSET = "RESET";
    defparam image_shiftreg_i0_i51.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i52 (.D(image_shiftreg[53]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[52]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i52.REGSET = "RESET";
    defparam image_shiftreg_i0_i52.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i53 (.D(image_shiftreg[54]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[53]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i53.REGSET = "RESET";
    defparam image_shiftreg_i0_i53.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i54 (.D(image_shiftreg[55]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[54]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i54.REGSET = "RESET";
    defparam image_shiftreg_i0_i54.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i55 (.D(image_shiftreg[56]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[55]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i55.REGSET = "RESET";
    defparam image_shiftreg_i0_i55.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i56 (.D(image_shiftreg[57]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[56]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i56.REGSET = "RESET";
    defparam image_shiftreg_i0_i56.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i57 (.D(image_shiftreg[58]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[57]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i57.REGSET = "RESET";
    defparam image_shiftreg_i0_i57.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i58 (.D(image_shiftreg[59]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[58]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i58.REGSET = "RESET";
    defparam image_shiftreg_i0_i58.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i59 (.D(image_shiftreg[60]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[59]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i59.REGSET = "RESET";
    defparam image_shiftreg_i0_i59.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i60 (.D(image_shiftreg[61]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[60]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i60.REGSET = "RESET";
    defparam image_shiftreg_i0_i60.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i61 (.D(image_shiftreg[62]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[61]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i61.REGSET = "RESET";
    defparam image_shiftreg_i0_i61.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i62 (.D(image_shiftreg[63]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[62]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i62.REGSET = "RESET";
    defparam image_shiftreg_i0_i62.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i63 (.D(image_shiftreg[64]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[63]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i63.REGSET = "RESET";
    defparam image_shiftreg_i0_i63.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i64 (.D(image_shiftreg[65]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[64]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i64.REGSET = "RESET";
    defparam image_shiftreg_i0_i64.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i65 (.D(image_shiftreg[66]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[65]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i65.REGSET = "RESET";
    defparam image_shiftreg_i0_i65.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i66 (.D(image_shiftreg[67]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[66]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i66.REGSET = "RESET";
    defparam image_shiftreg_i0_i66.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i67 (.D(image_shiftreg[68]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[67]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i67.REGSET = "RESET";
    defparam image_shiftreg_i0_i67.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i68 (.D(image_shiftreg[69]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[68]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i68.REGSET = "RESET";
    defparam image_shiftreg_i0_i68.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i69 (.D(image_shiftreg[70]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[69]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i69.REGSET = "RESET";
    defparam image_shiftreg_i0_i69.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i70 (.D(image_shiftreg[71]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[70]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i70.REGSET = "RESET";
    defparam image_shiftreg_i0_i70.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i71 (.D(image_shiftreg[72]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[71]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i71.REGSET = "RESET";
    defparam image_shiftreg_i0_i71.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i72 (.D(image_shiftreg[73]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[72]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i72.REGSET = "RESET";
    defparam image_shiftreg_i0_i72.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i73 (.D(image_shiftreg[74]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[73]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i73.REGSET = "RESET";
    defparam image_shiftreg_i0_i73.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i74 (.D(image_shiftreg[75]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[74]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i74.REGSET = "RESET";
    defparam image_shiftreg_i0_i74.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i75 (.D(image_shiftreg[76]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[75]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i75.REGSET = "RESET";
    defparam image_shiftreg_i0_i75.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i76 (.D(image_shiftreg[77]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[76]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i76.REGSET = "RESET";
    defparam image_shiftreg_i0_i76.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i77 (.D(image_shiftreg[78]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[77]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i77.REGSET = "RESET";
    defparam image_shiftreg_i0_i77.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i78 (.D(image_shiftreg[79]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[78]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i78.REGSET = "RESET";
    defparam image_shiftreg_i0_i78.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i79 (.D(image_shiftreg[80]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[79]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i79.REGSET = "RESET";
    defparam image_shiftreg_i0_i79.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i80 (.D(image_shiftreg[81]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[80]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i80.REGSET = "RESET";
    defparam image_shiftreg_i0_i80.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i81 (.D(image_shiftreg[82]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[81]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i81.REGSET = "RESET";
    defparam image_shiftreg_i0_i81.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i82 (.D(image_shiftreg[83]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[82]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i82.REGSET = "RESET";
    defparam image_shiftreg_i0_i82.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i83 (.D(image_shiftreg[84]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[83]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i83.REGSET = "RESET";
    defparam image_shiftreg_i0_i83.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i84 (.D(image_shiftreg[85]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[84]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i84.REGSET = "RESET";
    defparam image_shiftreg_i0_i84.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i85 (.D(image_shiftreg[86]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[85]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i85.REGSET = "RESET";
    defparam image_shiftreg_i0_i85.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i86 (.D(image_shiftreg[87]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[86]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i86.REGSET = "RESET";
    defparam image_shiftreg_i0_i86.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i87 (.D(image_shiftreg[88]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[87]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i87.REGSET = "RESET";
    defparam image_shiftreg_i0_i87.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i88 (.D(image_shiftreg[89]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[88]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i88.REGSET = "RESET";
    defparam image_shiftreg_i0_i88.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i89 (.D(image_shiftreg[90]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[89]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i89.REGSET = "RESET";
    defparam image_shiftreg_i0_i89.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i90 (.D(image_shiftreg[91]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[90]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i90.REGSET = "RESET";
    defparam image_shiftreg_i0_i90.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i91 (.D(image_shiftreg[92]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[91]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i91.REGSET = "RESET";
    defparam image_shiftreg_i0_i91.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i92 (.D(image_shiftreg[93]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[92]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i92.REGSET = "RESET";
    defparam image_shiftreg_i0_i92.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i93 (.D(image_shiftreg[94]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[93]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i93.REGSET = "RESET";
    defparam image_shiftreg_i0_i93.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i94 (.D(image_shiftreg[95]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[94]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i94.REGSET = "RESET";
    defparam image_shiftreg_i0_i94.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i95 (.D(image_shiftreg[96]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[95]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i95.REGSET = "RESET";
    defparam image_shiftreg_i0_i95.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i96 (.D(image_shiftreg[97]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[96]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i96.REGSET = "RESET";
    defparam image_shiftreg_i0_i96.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i97 (.D(image_shiftreg[98]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[97]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i97.REGSET = "RESET";
    defparam image_shiftreg_i0_i97.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i98 (.D(image_shiftreg[99]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[98]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i98.REGSET = "RESET";
    defparam image_shiftreg_i0_i98.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i99 (.D(image_shiftreg[100]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[99]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i99.REGSET = "RESET";
    defparam image_shiftreg_i0_i99.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i100 (.D(image_shiftreg[101]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[100]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i100.REGSET = "RESET";
    defparam image_shiftreg_i0_i100.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i101 (.D(image_shiftreg[102]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[101]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i101.REGSET = "RESET";
    defparam image_shiftreg_i0_i101.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i102 (.D(image_shiftreg[103]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[102]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i102.REGSET = "RESET";
    defparam image_shiftreg_i0_i102.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i103 (.D(image_shiftreg[104]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[103]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i103.REGSET = "RESET";
    defparam image_shiftreg_i0_i103.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i104 (.D(image_shiftreg[105]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[104]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i104.REGSET = "RESET";
    defparam image_shiftreg_i0_i104.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i105 (.D(image_shiftreg[106]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[105]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i105.REGSET = "RESET";
    defparam image_shiftreg_i0_i105.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i106 (.D(image_shiftreg[107]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[106]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i106.REGSET = "RESET";
    defparam image_shiftreg_i0_i106.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i107 (.D(image_shiftreg[108]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[107]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i107.REGSET = "RESET";
    defparam image_shiftreg_i0_i107.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i108 (.D(image_shiftreg[109]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[108]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i108.REGSET = "RESET";
    defparam image_shiftreg_i0_i108.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i109 (.D(image_shiftreg[110]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[109]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i109.REGSET = "RESET";
    defparam image_shiftreg_i0_i109.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i110 (.D(image_shiftreg[111]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[110]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i110.REGSET = "RESET";
    defparam image_shiftreg_i0_i110.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i111 (.D(image_shiftreg[112]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[111]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i111.REGSET = "RESET";
    defparam image_shiftreg_i0_i111.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i112 (.D(image_shiftreg[113]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[112]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i112.REGSET = "RESET";
    defparam image_shiftreg_i0_i112.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i113 (.D(image_shiftreg[114]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[113]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i113.REGSET = "RESET";
    defparam image_shiftreg_i0_i113.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i114 (.D(image_shiftreg[115]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[114]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i114.REGSET = "RESET";
    defparam image_shiftreg_i0_i114.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i115 (.D(image_shiftreg[116]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[115]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i115.REGSET = "RESET";
    defparam image_shiftreg_i0_i115.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i116 (.D(image_shiftreg[117]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[116]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i116.REGSET = "RESET";
    defparam image_shiftreg_i0_i116.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i117 (.D(image_shiftreg[118]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[117]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i117.REGSET = "RESET";
    defparam image_shiftreg_i0_i117.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i118 (.D(image_shiftreg[119]), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[118]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i118.REGSET = "RESET";
    defparam image_shiftreg_i0_i118.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i119 (.D(led_array_c_120), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(image_shiftreg[119]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i119.REGSET = "RESET";
    defparam image_shiftreg_i0_i119.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i120 (.D(led_array_c_121), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(led_array_c_120));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i120.REGSET = "RESET";
    defparam image_shiftreg_i0_i120.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i121 (.D(led_array_c_122), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(led_array_c_121));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i121.REGSET = "RESET";
    defparam image_shiftreg_i0_i121.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i122 (.D(led_array_c_123), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(led_array_c_122));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i122.REGSET = "RESET";
    defparam image_shiftreg_i0_i122.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i123 (.D(led_array_c_124), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(led_array_c_123));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i123.REGSET = "RESET";
    defparam image_shiftreg_i0_i123.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i124 (.D(led_array_c_125), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(led_array_c_124));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i124.REGSET = "RESET";
    defparam image_shiftreg_i0_i124.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i125 (.D(led_array_c_126), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(led_array_c_125));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i125.REGSET = "RESET";
    defparam image_shiftreg_i0_i125.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i126 (.D(led_array_c_127), 
            .SP(n2025), .CK(clk), .SR(reset_c), .Q(led_array_c_126));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i126.REGSET = "RESET";
    defparam image_shiftreg_i0_i126.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ image_shiftreg_i0_i127 (.D(COPI_c), .SP(n2025), 
            .CK(clk), .SR(reset_c), .Q(led_array_c_127));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam image_shiftreg_i0_i127.REGSET = "RESET";
    defparam image_shiftreg_i0_i127.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ bit_counter__i3 (.D(n2033), .SP(n2079), 
            .CK(clk), .SR(reset_c), .Q(bit_counter[3]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam bit_counter__i3.REGSET = "RESET";
    defparam bit_counter__i3.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ bit_counter__i2 (.D(n2031), .SP(n2079), 
            .CK(clk), .SR(reset_c), .Q(bit_counter[2]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam bit_counter__i2.REGSET = "RESET";
    defparam bit_counter__i2.SRMODE = "ASYNC";
    (* lut_function="(A (C)+!A (B (D)+!B (C)))" *) LUT4 i223_3_lut_4_lut (.A(bit_counter[3]), 
            .B(n983), .C(s[0]), .D(byte_counter[0]), .Z(n2));
    defparam i223_3_lut_4_lut.INIT = "0xf4b0";
    (* lut_function="(A (C+!(D))+!A (B (D)))" *) LUT4 \bit_counter[0]_bdd_4_lut_12  (.A(bit_counter[0]), 
            .B(image_shiftreg[114]), .C(image_shiftreg[115]), .D(bit_counter[1]), 
            .Z(n2602));
    defparam \bit_counter[0]_bdd_4_lut_12 .INIT = "0xe4aa";
    (* lut_function="(A (B+(D))+!A !((D)+!C))" *) LUT4 n2536_bdd_4_lut (.A(n2536), 
            .B(image_shiftreg[41]), .C(image_shiftreg[40]), .D(bit_counter[1]), 
            .Z(n2539));
    defparam n2536_bdd_4_lut.INIT = "0xaad8";
    (* lse_init_val=0 *) FD1P3XZ bit_counter__i1 (.D(n2029), .SP(n2079), 
            .CK(clk), .SR(reset_c), .Q(bit_counter[1]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam bit_counter__i1.REGSET = "RESET";
    defparam bit_counter__i1.SRMODE = "ASYNC";
    (* lse_init_val=1 *) FD1P3XZ s_i1 (.D(n2357), .SP(VCC_net), .CK(clk), 
            .SR(GND_net), .Q(s[1]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam s_i1.REGSET = "RESET";
    defparam s_i1.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0 *) FD1P3XZ byte_counter_i0_i0 (.D(n2010), .SP(n2022), 
            .CK(clk), .SR(reset_c), .Q(byte_counter[0]));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam byte_counter_i0_i0.REGSET = "RESET";
    defparam byte_counter_i0_i0.SRMODE = "ASYNC";
    (* lut_function="(A (B+(D))+!A !((D)+!C))" *) LUT4 n2716_bdd_4_lut (.A(n2716), 
            .B(image_shiftreg[57]), .C(image_shiftreg[56]), .D(bit_counter[1]), 
            .Z(n2419));
    defparam n2716_bdd_4_lut.INIT = "0xaad8";
    (* lut_function="(A (C+!(D))+!A (B (D)))" *) LUT4 \bit_counter[0]_bdd_4_lut_5  (.A(bit_counter[0]), 
            .B(image_shiftreg[42]), .C(image_shiftreg[43]), .D(bit_counter[1]), 
            .Z(n2536));
    defparam \bit_counter[0]_bdd_4_lut_5 .INIT = "0xe4aa";
    (* lut_function="(A (B+!(C (D)+!C !(D)))+!A (B (C (D)+!C !(D))))" *) LUT4 i1563_4_lut (.A(n2629), 
            .B(n2671), .C(byte_counter[2]), .D(n4_adj_1), .Z(n2467));
    defparam i1563_4_lut.INIT = "0xcaac";
    (* lut_function="(A (C+!(D))+!A (B (D)))" *) LUT4 \bit_counter[0]_bdd_4_lut_26  (.A(bit_counter[0]), 
            .B(image_shiftreg[58]), .C(image_shiftreg[59]), .D(bit_counter[1]), 
            .Z(n2716));
    defparam \bit_counter[0]_bdd_4_lut_26 .INIT = "0xe4aa";
    (* lut_function="(A (B+(D))+!A !((D)+!C))" *) LUT4 n2722_bdd_4_lut (.A(n2722), 
            .B(image_shiftreg[13]), .C(image_shiftreg[12]), .D(bit_counter[1]), 
            .Z(n2452));
    defparam n2722_bdd_4_lut.INIT = "0xaad8";
    (* lut_function="(A (B+(D))+!A !((D)+!C))" *) LUT4 n2632_bdd_4_lut (.A(n2632), 
            .B(image_shiftreg[25]), .C(image_shiftreg[24]), .D(bit_counter[1]), 
            .Z(n2476));
    defparam n2632_bdd_4_lut.INIT = "0xaad8";
    (* lut_function="(A (B (C)))" *) LUT4 i170_2_lut_3_lut (.A(bit_counter[1]), 
            .B(bit_counter[0]), .C(bit_counter[2]), .Z(n983));
    defparam i170_2_lut_3_lut.INIT = "0x8080";
    (* lut_function="(A (B+(D))+!A !((D)+!C))" *) LUT4 n2608_bdd_4_lut (.A(n2608), 
            .B(n2499), .C(n2498), .D(bit_counter[2]), .Z(n2611));
    defparam n2608_bdd_4_lut.INIT = "0xaad8";
    (* lut_function="(A (C+!(D))+!A (B (D)))" *) LUT4 \bit_counter[0]_bdd_4_lut_27  (.A(bit_counter[0]), 
            .B(image_shiftreg[14]), .C(image_shiftreg[15]), .D(bit_counter[1]), 
            .Z(n2722));
    defparam \bit_counter[0]_bdd_4_lut_27 .INIT = "0xe4aa";
    (* lut_function="(A (B+!(C))+!A !(B+!(C)))" *) LUT4 i1_3_lut (.A(byte_counter[3]), 
            .B(byte_counter[2]), .C(n4_adj_1), .Z(n2005));
    defparam i1_3_lut.INIT = "0x9a9a";
    (* lut_function="(A (B+(D))+!A !((D)+!C))" *) LUT4 n2728_bdd_4_lut (.A(n2728), 
            .B(image_shiftreg[9]), .C(image_shiftreg[8]), .D(bit_counter[1]), 
            .Z(n2449));
    defparam n2728_bdd_4_lut.INIT = "0xaad8";
    (* lut_function="(!(A+!(B+!(C))))" *) LUT4 i1042_3_lut (.A(byte_counter[1]), 
            .B(bit_counter[3]), .C(byte_counter[0]), .Z(n4_adj_1));   /* synthesis lineinfo="@0(75[32],75[70])"*/
    defparam i1042_3_lut.INIT = "0x4545";
    (* lut_function="(A (C+!(D))+!A (B (D)))" *) LUT4 \bit_counter[0]_bdd_4_lut_28  (.A(bit_counter[0]), 
            .B(image_shiftreg[10]), .C(image_shiftreg[11]), .D(bit_counter[1]), 
            .Z(n2728));
    defparam \bit_counter[0]_bdd_4_lut_28 .INIT = "0xe4aa";
    (* lut_function="(A (C+!(D))+!A (B (D)))" *) LUT4 \bit_counter[1]_bdd_4_lut_2  (.A(bit_counter[1]), 
            .B(n2432), .C(n2433), .D(bit_counter[2]), .Z(n2608));
    defparam \bit_counter[1]_bdd_4_lut_2 .INIT = "0xe4aa";
    (* lut_function="(A (B+(D))+!A !((D)+!C))" *) LUT4 n2542_bdd_4_lut (.A(n2542), 
            .B(n2527), .C(n2428), .D(CIPO_N_286[3]), .Z(n2545));
    defparam n2542_bdd_4_lut.INIT = "0xaad8";
    (* lut_function="(A (B+(D))+!A !((D)+!C))" *) LUT4 n2734_bdd_4_lut (.A(n2734), 
            .B(image_shiftreg[105]), .C(image_shiftreg[104]), .D(bit_counter[1]), 
            .Z(n2737));
    defparam n2734_bdd_4_lut.INIT = "0xaad8";
    (* lut_function="(A (C+!(D))+!A (B (D)))" *) LUT4 \bit_counter[0]_bdd_4_lut  (.A(bit_counter[0]), 
            .B(image_shiftreg[106]), .C(image_shiftreg[107]), .D(bit_counter[1]), 
            .Z(n2734));
    defparam \bit_counter[0]_bdd_4_lut .INIT = "0xe4aa";
    (* lut_function="(A (B+(D))+!A !((D)+!C))" *) LUT4 n2578_bdd_4_lut (.A(n2578), 
            .B(n2563), .C(n2455), .D(CIPO_N_286[5]), .Z(n2581));
    defparam n2578_bdd_4_lut.INIT = "0xaad8";
    (* lut_function="(!(A+!(B)))" *) LUT4 i1_2_lut_2_lut (.A(reset_c), .B(n8), 
            .Z(n2074));   /* synthesis lineinfo="@0(11[9],11[11])"*/
    defparam i1_2_lut_2_lut.INIT = "0x4444";
    (* lut_function="(A (B (C)+!B !(C))+!A !(B (C)+!B !(C)))" *) LUT4 i2_3_lut_adj_7 (.A(n2), 
            .B(s[0]), .C(byte_counter[1]), .Z(n2327));   /* synthesis lineinfo="@0(57[17],79[24])"*/
    defparam i2_3_lut_adj_7.INIT = "0x9696";
    (* lut_function="(A (C+!(D))+!A (B (D)))" *) LUT4 \bit_counter[2]_bdd_4_lut_3  (.A(bit_counter[2]), 
            .B(n2419), .C(n2422), .D(CIPO_N_286[3]), .Z(n2554));
    defparam \bit_counter[2]_bdd_4_lut_3 .INIT = "0xe4aa";
    (* lut_function="(!(A+!(B+!(C+!(D)))))" *) LUT4 i117_4_lut_4_lut (.A(reset_c), 
            .B(s[1]), .C(byte_counter[4]), .D(n4), .Z(n885));
    defparam i117_4_lut_4_lut.INIT = "0x4544";
    (* lut_function="(!(A (B+(C))+!A (B+!(C))))" *) LUT4 i1293_3_lut (.A(bit_counter[3]), 
            .B(CS_c), .C(n983), .Z(n2033));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam i1293_3_lut.INIT = "0x1212";
    (* lut_function="(A (B+(D))+!A !((D)+!C))" *) LUT4 n2614_bdd_4_lut (.A(n2614), 
            .B(n2505), .C(n2504), .D(bit_counter[2]), .Z(n2617));
    defparam n2614_bdd_4_lut.INIT = "0xaad8";
    (* lut_function="(A (C+!(D))+!A (B (D)))" *) LUT4 \bit_counter[2]_bdd_4_lut_2  (.A(bit_counter[2]), 
            .B(n2539), .C(n2401), .D(CIPO_N_286[3]), .Z(n2542));
    defparam \bit_counter[2]_bdd_4_lut_2 .INIT = "0xe4aa";
    (* lut_function="(A (B+(D))+!A !((D)+!C))" *) LUT4 n2650_bdd_4_lut (.A(n2650), 
            .B(image_shiftreg[1]), .C(image_shiftreg[0]), .D(bit_counter[1]), 
            .Z(n2653));
    defparam n2650_bdd_4_lut.INIT = "0xaad8";
    (* lut_function="(A (C+!(D))+!A (B (D)))" *) LUT4 \bit_counter[0]_bdd_4_lut_17  (.A(bit_counter[0]), 
            .B(image_shiftreg[2]), .C(image_shiftreg[3]), .D(bit_counter[1]), 
            .Z(n2650));
    defparam \bit_counter[0]_bdd_4_lut_17 .INIT = "0xe4aa";
    (* lut_function="(A (B)+!A !(B))" *) LUT4 i1185_2_lut (.A(byte_counter[2]), 
            .B(n4_adj_1), .Z(CIPO_N_286[5]));
    defparam i1185_2_lut.INIT = "0x9999";
    (* lut_function="(A ((C)+!B)+!A (C))" *) LUT4 i1_2_lut_3_lut_adj_8 (.A(controller_clk_last), 
            .B(controller_clk_last_last), .C(CS_c), .Z(n2079));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam i1_2_lut_3_lut_adj_8.INIT = "0xf2f2";
    (* lut_function="(A (C+!(D))+!A (B (D)))" *) LUT4 \CIPO_N_286[4]_bdd_4_lut  (.A(CIPO_N_286[4]), 
            .B(n2545), .C(n2557), .D(CIPO_N_286[5]), .Z(n2578));
    defparam \CIPO_N_286[4]_bdd_4_lut .INIT = "0xe4aa";
    (* lut_function="(!(A+!(B (C))))" *) LUT4 i1_2_lut_3_lut_3_lut (.A(reset_c), 
            .B(n8), .C(s[1]), .Z(n2026));
    defparam i1_2_lut_3_lut_3_lut.INIT = "0x4040";
    (* lut_function="(!(A+((C)+!B)))" *) LUT4 i1_2_lut_3_lut_adj_9 (.A(s[1]), 
            .B(n8), .C(s[0]), .Z(n2025));
    defparam i1_2_lut_3_lut_adj_9.INIT = "0x0404";
    (* lut_function="(A (B)+!A !(B+(C+!(D))))" *) LUT4 i1609_2_lut_4_lut_4_lut (.A(reset_c), 
            .B(s[1]), .C(byte_counter[4]), .D(n4), .Z(n2357));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam i1609_2_lut_4_lut_4_lut.INIT = "0x8988";
    (* lut_function="(A (C+!(D))+!A (B (D)))" *) LUT4 \bit_counter[0]_bdd_4_lut_14  (.A(bit_counter[0]), 
            .B(image_shiftreg[26]), .C(image_shiftreg[27]), .D(bit_counter[1]), 
            .Z(n2632));
    defparam \bit_counter[0]_bdd_4_lut_14 .INIT = "0xe4aa";
    (* lut_function="(A (C+!(D))+!A (B (D)))" *) LUT4 \bit_counter[0]_bdd_4_lut_2  (.A(bit_counter[0]), 
            .B(image_shiftreg[118]), .C(image_shiftreg[119]), .D(bit_counter[1]), 
            .Z(n2518));
    defparam \bit_counter[0]_bdd_4_lut_2 .INIT = "0xe4aa";
    (* lut_function="(A (B+(D))+!A !((D)+!C))" *) LUT4 n2584_bdd_4_lut (.A(n2584), 
            .B(image_shiftreg[93]), .C(image_shiftreg[92]), .D(bit_counter[1]), 
            .Z(n2587));
    defparam n2584_bdd_4_lut.INIT = "0xaad8";
    (* lut_function="(A (B+(D))+!A !((D)+!C))" *) LUT4 n2524_bdd_4_lut (.A(n2524), 
            .B(image_shiftreg[37]), .C(image_shiftreg[36]), .D(bit_counter[1]), 
            .Z(n2527));
    defparam n2524_bdd_4_lut.INIT = "0xaad8";
    (* lut_function="(!(A (B+(C))+!A (B+!(C))))" *) LUT4 i1289_3_lut (.A(bit_counter[1]), 
            .B(CS_c), .C(bit_counter[0]), .Z(n2029));   /* synthesis lineinfo="@0(48[9],99[16])"*/
    defparam i1289_3_lut.INIT = "0x1212";
    
endmodule
