// Verilog netlist produced by program LSE :  version Radiant Software (64-bit) 2.2.1.239.2
// Netlist written on Tue May  4 16:43:16 2021
// Source file index table: 
// Object locations will have the form @<file_index>(<first_ line>[<left_column>],<last_line>[<right_column>])
// file 0 "c:/users/fonar/documents/cs remote/es4/fpga_spi_peripheral/spi/source/impl_1/spi_peripheral.vhd"
// file 1 "c:/lscc/radiant/2.2/ip/pmi/pmi_ice40up.v"
// file 2 "c:/lscc/radiant/2.2/ip/pmi/pmi_ice40up.vhd"
// file 3 "c:/lscc/radiant/2.2/cae_library/simulation/verilog/ice40up/ccu2_b.v"
// file 4 "c:/lscc/radiant/2.2/cae_library/simulation/verilog/ice40up/fd1p3bz.v"
// file 5 "c:/lscc/radiant/2.2/cae_library/simulation/verilog/ice40up/fd1p3dz.v"
// file 6 "c:/lscc/radiant/2.2/cae_library/simulation/verilog/ice40up/fd1p3iz.v"
// file 7 "c:/lscc/radiant/2.2/cae_library/simulation/verilog/ice40up/fd1p3jz.v"
// file 8 "c:/lscc/radiant/2.2/cae_library/simulation/verilog/ice40up/hsosc.v"
// file 9 "c:/lscc/radiant/2.2/cae_library/simulation/verilog/ice40up/hsosc1p8v.v"
// file 10 "c:/lscc/radiant/2.2/cae_library/simulation/verilog/ice40up/ib.v"
// file 11 "c:/lscc/radiant/2.2/cae_library/simulation/verilog/ice40up/ifd1p3az.v"
// file 12 "c:/lscc/radiant/2.2/cae_library/simulation/verilog/ice40up/lsosc.v"
// file 13 "c:/lscc/radiant/2.2/cae_library/simulation/verilog/ice40up/lsosc1p8v.v"
// file 14 "c:/lscc/radiant/2.2/cae_library/simulation/verilog/ice40up/ob.v"
// file 15 "c:/lscc/radiant/2.2/cae_library/simulation/verilog/ice40up/obz_b.v"
// file 16 "c:/lscc/radiant/2.2/cae_library/simulation/verilog/ice40up/ofd1p3az.v"
// file 17 "c:/lscc/radiant/2.2/cae_library/simulation/verilog/ice40up/pdp4k.v"
// file 18 "c:/lscc/radiant/2.2/cae_library/simulation/verilog/ice40up/rgb.v"
// file 19 "c:/lscc/radiant/2.2/cae_library/simulation/verilog/ice40up/rgb1p8v.v"
// file 20 "c:/lscc/radiant/2.2/cae_library/simulation/verilog/ice40up/sp256k.v"
// file 21 "c:/lscc/radiant/2.2/cae_library/simulation/verilog/ice40up/legacy.v"
// file 22 "c:/lscc/radiant/2.2/ip/common/adder/rtl/lscc_adder.v"
// file 23 "c:/lscc/radiant/2.2/ip/common/adder_subtractor/rtl/lscc_add_sub.v"
// file 24 "c:/lscc/radiant/2.2/ip/common/complex_mult/rtl/lscc_complex_mult.v"
// file 25 "c:/lscc/radiant/2.2/ip/common/counter/rtl/lscc_cntr.v"
// file 26 "c:/lscc/radiant/2.2/ip/common/fifo/rtl/lscc_fifo.v"
// file 27 "c:/lscc/radiant/2.2/ip/common/fifo_dc/rtl/lscc_fifo_dc.v"
// file 28 "c:/lscc/radiant/2.2/ip/common/mult_accumulate/rtl/lscc_mult_accumulate.v"
// file 29 "c:/lscc/radiant/2.2/ip/common/mult_add_sub/rtl/lscc_mult_add_sub.v"
// file 30 "c:/lscc/radiant/2.2/ip/common/mult_add_sub_sum/rtl/lscc_mult_add_sub_sum.v"
// file 31 "c:/lscc/radiant/2.2/ip/common/multiplier/rtl/lscc_multiplier.v"
// file 32 "c:/lscc/radiant/2.2/ip/common/ram_dp/rtl/lscc_ram_dp.v"
// file 33 "c:/lscc/radiant/2.2/ip/common/ram_dq/rtl/lscc_ram_dq.v"
// file 34 "c:/lscc/radiant/2.2/ip/common/rom/rtl/lscc_rom.v"
// file 35 "c:/lscc/radiant/2.2/ip/common/subtractor/rtl/lscc_subtractor.v"
// file 36 "c:/lscc/radiant/2.2/ip/pmi/pmi_add.v"
// file 37 "c:/lscc/radiant/2.2/ip/pmi/pmi_addsub.v"
// file 38 "c:/lscc/radiant/2.2/ip/pmi/pmi_complex_mult.v"
// file 39 "c:/lscc/radiant/2.2/ip/pmi/pmi_counter.v"
// file 40 "c:/lscc/radiant/2.2/ip/pmi/pmi_dsp.v"
// file 41 "c:/lscc/radiant/2.2/ip/pmi/pmi_fifo.v"
// file 42 "c:/lscc/radiant/2.2/ip/pmi/pmi_fifo_dc.v"
// file 43 "c:/lscc/radiant/2.2/ip/pmi/pmi_mac.v"
// file 44 "c:/lscc/radiant/2.2/ip/pmi/pmi_mult.v"
// file 45 "c:/lscc/radiant/2.2/ip/pmi/pmi_multaddsub.v"
// file 46 "c:/lscc/radiant/2.2/ip/pmi/pmi_multaddsubsum.v"
// file 47 "c:/lscc/radiant/2.2/ip/pmi/pmi_ram_dp.v"
// file 48 "c:/lscc/radiant/2.2/ip/pmi/pmi_ram_dp_be.v"
// file 49 "c:/lscc/radiant/2.2/ip/pmi/pmi_ram_dq.v"
// file 50 "c:/lscc/radiant/2.2/ip/pmi/pmi_ram_dq_be.v"
// file 51 "c:/lscc/radiant/2.2/ip/pmi/pmi_rom.v"
// file 52 "c:/lscc/radiant/2.2/ip/pmi/pmi_sub.v"

//
// Verilog Description of module peripheral
//

module peripheral (output [7:0]led_array, input reset, input controller_clk, 
            input COPI, input CS, output CIPO, output led, output data_ready);   /* synthesis lineinfo="@0(5[8],5[18])"*/
    
    (* is_clock=1, SET_AS_NETWORK="clk" *) wire clk;   /* synthesis lineinfo="@0(19[12],19[15])"*/
    wire led_array_c_4;   /* synthesis lineinfo="@0(27[12],27[24])"*/
    wire led_array_c_3;   /* synthesis lineinfo="@0(27[12],27[24])"*/
    wire led_array_c_2;   /* synthesis lineinfo="@0(27[12],27[24])"*/
    wire led_array_c_1;   /* synthesis lineinfo="@0(27[12],27[24])"*/
    wire led_array_c_0;   /* synthesis lineinfo="@0(27[12],27[24])"*/
    
    wire GND_net, VCC_net, reset_c, controller_clk_c, CS_c, CIPO_c, 
        led_c, data_ready_c, controller_clk_last, controller_clk_last_last;
    wire [3:0]bit_counter;   /* synthesis lineinfo="@0(26[12],26[23])"*/
    wire [1:0]s;   /* synthesis lineinfo="@0(41[12],41[13])"*/
    
    wire n455, n334, n187, n305, n473, n851, n12, n465, n471, 
        n6, n8, n463, n461, n312, n2, n4, n253, clk_enable_1, 
        n811, n476, clk_enable_2, n456, n772, n469, n467, n466, 
        n4_adj_1, n12_adj_2, n11, n729;
    
    VHI i2 (.Z(VCC_net));
    (* lse_init_val=0 *) IOL_B controller_clk_last_c (.PADDI(controller_clk_c), 
            .DO1(GND_net), .DO0(GND_net), .CE(clk_enable_1), .IOLTO(GND_net), 
            .HOLD(GND_net), .INCLK(clk), .OUTCLK(GND_net), .DI0(controller_clk_last));   /* synthesis lineinfo="@0(50[9],96[16])"*/
    defparam controller_clk_last_c.LATCHIN = "NONE_REG";
    defparam controller_clk_last_c.DDROUT = "NO";
    (* lse_init_val=0 *) FD1P3XZ byte_counter__i2 (.D(n461), .SP(n466), 
            .CK(clk), .SR(reset_c), .Q(led_array_c_1));   /* synthesis lineinfo="@0(50[9],96[16])"*/
    defparam byte_counter__i2.REGSET = "RESET";
    defparam byte_counter__i2.SRMODE = "ASYNC";
    (* syn_instantiated=1 *) HSOSC_CORE H (.CLKHFPU(VCC_net), .CLKHFEN(VCC_net), 
            .TRIM9(GND_net), .TRIM8(GND_net), .TRIM7(GND_net), .TRIM6(GND_net), 
            .TRIM5(GND_net), .TRIM4(GND_net), .TRIM3(GND_net), .TRIM2(GND_net), 
            .TRIM1(GND_net), .TRIM0(GND_net), .CLKHF(clk));
    defparam H.CLKHF_DIV = "0b00";
    defparam H.FABRIC_TRIME = "DISABLE";
    (* lut_function="(!((B+(C+(D)))+!A))" *) LUT4 i2_3_lut_4_lut_4_lut (.A(controller_clk_last), 
            .B(controller_clk_last_last), .C(reset_c), .D(CS_c), .Z(clk_enable_2));   /* synthesis lineinfo="@0(44[17],44[71])"*/
    defparam i2_3_lut_4_lut_4_lut.INIT = "0x0002";
    OB \led_array_pad[4]  (.I(led_array_c_4), .O(led_array[4]));   /* synthesis lineinfo="@0(7[9],7[18])"*/
    (* lse_init_val=0 *) FD1P3XZ bit_counter__i3 (.D(n473), .SP(n305), .CK(clk), 
            .SR(reset_c), .Q(bit_counter[3]));   /* synthesis lineinfo="@0(50[9],96[16])"*/
    defparam bit_counter__i3.REGSET = "RESET";
    defparam bit_counter__i3.SRMODE = "ASYNC";
    (* lut_function="(A (B (C)))" *) LUT4 i168_2_lut_3_lut (.A(bit_counter[1]), 
            .B(bit_counter[0]), .C(bit_counter[2]), .Z(n334));
    defparam i168_2_lut_3_lut.INIT = "0x8080";
    (* lut_function="(!((B+!(C))+!A))" *) LUT4 i4_3_lut (.A(clk_enable_2), 
            .B(s[1]), .C(led_array_c_2), .Z(n11));
    defparam i4_3_lut.INIT = "0x2020";
    (* lse_init_val=0 *) FD1P3XZ bit_counter__i0 (.D(n12), .SP(VCC_net), 
            .CK(clk), .SR(reset_c), .Q(bit_counter[0]));   /* synthesis lineinfo="@0(50[9],96[16])"*/
    defparam bit_counter__i0.REGSET = "RESET";
    defparam bit_counter__i0.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ bit_counter__i2 (.D(n471), .SP(n305), .CK(clk), 
            .SR(reset_c), .Q(bit_counter[2]));   /* synthesis lineinfo="@0(50[9],96[16])"*/
    defparam bit_counter__i2.REGSET = "RESET";
    defparam bit_counter__i2.SRMODE = "ASYNC";
    (* lut_function="(A (B)+!A !((C)+!B))" *) LUT4 i1_3_lut (.A(s[0]), .B(clk_enable_2), 
            .C(s[1]), .Z(n455));
    defparam i1_3_lut.INIT = "0x8c8c";
    (* lut_function="(!(A+(B)))" *) LUT4 i692_2_lut (.A(s[0]), .B(s[1]), 
            .Z(led_c));   /* synthesis lineinfo="@0(47[21],47[29])"*/
    defparam i692_2_lut.INIT = "0x1111";
    OB \led_array_pad[5]  (.I(GND_net), .O(led_array[5]));   /* synthesis lineinfo="@0(7[9],7[18])"*/
    (* lut_function="(!(A (B (C))+!A (B+!(C))))" *) LUT4 i12_3_lut (.A(n772), 
            .B(clk_enable_2), .C(s[1]), .Z(n811));   /* synthesis lineinfo="@0(50[9],96[16])"*/
    defparam i12_3_lut.INIT = "0x3a3a";
    (* lut_function="(!(A+((C+(D))+!B)))" *) LUT4 i2_4_lut (.A(led_array_c_1), 
            .B(n4_adj_1), .C(n851), .D(led_array_c_4), .Z(n772));
    defparam i2_4_lut.INIT = "0x0004";
    (* lut_function="(A (B))" *) LUT4 i1_2_lut (.A(s[0]), .B(clk_enable_2), 
            .Z(n4_adj_1));
    defparam i1_2_lut.INIT = "0x8888";
    (* lse_init_val=0 *) FD1P3XZ bit_counter__i1 (.D(n469), .SP(n305), .CK(clk), 
            .SR(reset_c), .Q(bit_counter[1]));   /* synthesis lineinfo="@0(50[9],96[16])"*/
    defparam bit_counter__i1.REGSET = "RESET";
    defparam bit_counter__i1.SRMODE = "ASYNC";
    (* lut_function="(A (B (C (D))))" *) LUT4 i5_4_lut (.A(led_array_c_4), 
            .B(led_array_c_1), .C(led_array_c_0), .D(led_array_c_3), .Z(n12_adj_2));
    defparam i5_4_lut.INIT = "0x8000";
    (* lse_init_val=0 *) FD1P3XZ byte_counter__i1 (.D(n729), .SP(n466), 
            .CK(clk), .SR(reset_c), .Q(led_array_c_0));   /* synthesis lineinfo="@0(50[9],96[16])"*/
    defparam byte_counter__i1.REGSET = "RESET";
    defparam byte_counter__i1.SRMODE = "ASYNC";
    OB \led_array_pad[7]  (.I(GND_net), .O(led_array[7]));   /* synthesis lineinfo="@0(7[9],7[18])"*/
    (* lse_init_val=0 *) FD1P3XZ byte_counter__i5 (.D(n467), .SP(n466), 
            .CK(clk), .SR(reset_c), .Q(led_array_c_4));   /* synthesis lineinfo="@0(50[9],96[16])"*/
    defparam byte_counter__i5.REGSET = "RESET";
    defparam byte_counter__i5.SRMODE = "ASYNC";
    (* lut_function="(!(A (B+!(C (D)+!C !(D)))+!A (B+(C (D)+!C !(D)))))" *) LUT4 i550_4_lut (.A(n4), 
            .B(n312), .C(s[0]), .D(led_array_c_2), .Z(n463));   /* synthesis lineinfo="@0(50[9],96[16])"*/
    defparam i550_4_lut.INIT = "0x2112";
    (* lse_init_val=0 *) FD1P3XZ byte_counter__i4 (.D(n465), .SP(n466), 
            .CK(clk), .SR(reset_c), .Q(led_array_c_3));   /* synthesis lineinfo="@0(50[9],96[16])"*/
    defparam byte_counter__i4.REGSET = "RESET";
    defparam byte_counter__i4.SRMODE = "ASYNC";
    (* lut_function="(A+(B+(C)))" *) LUT4 i682_3_lut (.A(led_array_c_3), .B(led_array_c_2), 
            .C(led_array_c_0), .Z(n851));
    defparam i682_3_lut.INIT = "0xfefe";
    VLO i1 (.Z(GND_net));
    IOL_B data_ready_i1 (.PADDI(GND_net), .DO1(GND_net), .DO0(s[0]), .CE(clk_enable_2), 
          .IOLTO(GND_net), .HOLD(GND_net), .INCLK(GND_net), .OUTCLK(clk), 
          .PADDO(data_ready_c));   /* synthesis lineinfo="@0(50[9],96[16])"*/
    defparam data_ready_i1.LATCHIN = "LATCH_REG";
    defparam data_ready_i1.DDROUT = "NO";
    (* lut_function="(!(A+!(B+(C (D)))))" *) LUT4 i306_4_lut (.A(n253), .B(s[0]), 
            .C(n11), .D(n12_adj_2), .Z(n476));   /* synthesis lineinfo="@0(50[9],96[16])"*/
    defparam i306_4_lut.INIT = "0x5444";
    FD1P3XZ CIPO_i0 (.D(s[0]), .SP(n455), .CK(clk), .SR(n456), .Q(CIPO_c));   /* synthesis lineinfo="@0(50[9],96[16])"*/
    defparam CIPO_i0.REGSET = "RESET";
    defparam CIPO_i0.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A (B+!(C))+!A (B (C)))" *) LUT4 i117_3_lut (.A(n772), 
            .B(clk_enable_2), .C(s[1]), .Z(n253));   /* synthesis lineinfo="@0(41[12],41[13])"*/
    defparam i117_3_lut.INIT = "0xcaca";
    (* lut_function="(!(A (B+!(C (D)+!C !(D)))+!A (B+(C (D)+!C !(D)))))" *) LUT4 i542_4_lut (.A(n2), 
            .B(n312), .C(s[0]), .D(led_array_c_1), .Z(n461));   /* synthesis lineinfo="@0(50[9],96[16])"*/
    defparam i542_4_lut.INIT = "0x2112";
    OB \led_array_pad[6]  (.I(GND_net), .O(led_array[6]));   /* synthesis lineinfo="@0(7[9],7[18])"*/
    (* lse_init_val=1 *) FD1P3XZ s_i1 (.D(n811), .SP(VCC_net), .CK(clk), 
            .SR(GND_net), .Q(s[1]));   /* synthesis lineinfo="@0(50[9],96[16])"*/
    defparam s_i1.REGSET = "RESET";
    defparam s_i1.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!((B+(C))+!A))" *) LUT4 i63_2_lut_3_lut (.A(controller_clk_last), 
            .B(controller_clk_last_last), .C(CS_c), .Z(n187));   /* synthesis lineinfo="@0(44[17],44[71])"*/
    defparam i63_2_lut_3_lut.INIT = "0x0202";
    OB \led_array_pad[3]  (.I(led_array_c_3), .O(led_array[3]));   /* synthesis lineinfo="@0(7[9],7[18])"*/
    OB \led_array_pad[2]  (.I(led_array_c_2), .O(led_array[2]));   /* synthesis lineinfo="@0(7[9],7[18])"*/
    OB \led_array_pad[1]  (.I(led_array_c_1), .O(led_array[1]));   /* synthesis lineinfo="@0(7[9],7[18])"*/
    OB \led_array_pad[0]  (.I(led_array_c_0), .O(led_array[0]));   /* synthesis lineinfo="@0(7[9],7[18])"*/
    OB CIPO_pad (.I(CIPO_c), .O(CIPO));   /* synthesis lineinfo="@0(12[9],12[13])"*/
    OB led_pad (.I(led_c), .O(led));   /* synthesis lineinfo="@0(13[3],13[6])"*/
    OB data_ready_pad (.I(data_ready_c), .O(data_ready));   /* synthesis lineinfo="@0(14[9],14[19])"*/
    IB reset_pad (.I(reset), .O(reset_c));   /* synthesis lineinfo="@0(8[9],8[14])"*/
    IB controller_clk_pad (.I(controller_clk), .O(controller_clk_c));   /* synthesis lineinfo="@0(9[9],9[23])"*/
    IB CS_pad (.I(CS), .O(CS_c));   /* synthesis lineinfo="@0(11[9],11[11])"*/
    (* lse_init_val=0 *) FD1P3XZ s_i0 (.D(n476), .SP(VCC_net), .CK(clk), 
            .SR(GND_net), .Q(s[0]));   /* synthesis lineinfo="@0(50[9],96[16])"*/
    defparam s_i0.REGSET = "RESET";
    defparam s_i0.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0 *) FD1P3XZ byte_counter__i3 (.D(n463), .SP(n466), 
            .CK(clk), .SR(reset_c), .Q(led_array_c_2));   /* synthesis lineinfo="@0(50[9],96[16])"*/
    defparam byte_counter__i3.REGSET = "RESET";
    defparam byte_counter__i3.SRMODE = "ASYNC";
    (* lse_init_val=0 *) FD1P3XZ controller_clk_last_last_c (.D(controller_clk_last), 
            .SP(clk_enable_1), .CK(clk), .SR(GND_net), .Q(controller_clk_last_last));   /* synthesis lineinfo="@0(50[9],96[16])"*/
    defparam controller_clk_last_last_c.REGSET = "RESET";
    defparam controller_clk_last_last_c.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!(A (B (C+(D))+!B (C+!(D)))+!A (C+!(D))))" *) LUT4 i556_3_lut_4_lut (.A(bit_counter[1]), 
            .B(bit_counter[0]), .C(CS_c), .D(bit_counter[2]), .Z(n471));
    defparam i556_3_lut_4_lut.INIT = "0x0708";
    (* lut_function="(A (B (C))+!A (B))" *) LUT4 i689_3_lut (.A(s[1]), .B(n187), 
            .C(s[0]), .Z(n466));   /* synthesis lineinfo="@0(59[17],91[24])"*/
    defparam i689_3_lut.INIT = "0xc4c4";
    (* lut_function="(!(A (B+(C))+!A (B+!(C))))" *) LUT4 i557_3_lut (.A(bit_counter[3]), 
            .B(CS_c), .C(n334), .Z(n473));   /* synthesis lineinfo="@0(50[9],96[16])"*/
    defparam i557_3_lut.INIT = "0x1212";
    (* lut_function="(A ((C)+!B)+!A (C))" *) LUT4 i143_2_lut_3_lut (.A(controller_clk_last), 
            .B(controller_clk_last_last), .C(CS_c), .Z(n305));   /* synthesis lineinfo="@0(44[17],44[71])"*/
    defparam i143_2_lut_3_lut.INIT = "0xf2f2";
    (* lut_function="(!(A))" *) LUT4 i105_1_lut (.A(reset_c), .Z(clk_enable_1));   /* synthesis lineinfo="@0(8[9],8[14])"*/
    defparam i105_1_lut.INIT = "0x5555";
    (* lut_function="(!(A (B+(C))+!A (B+!(C))))" *) LUT4 i540_3_lut (.A(bit_counter[0]), 
            .B(CS_c), .C(n305), .Z(n12));   /* synthesis lineinfo="@0(50[9],96[16])"*/
    defparam i540_3_lut.INIT = "0x1212";
    (* lut_function="(A (B (C)))" *) LUT4 i286_2_lut_3_lut (.A(s[0]), .B(clk_enable_2), 
            .C(s[1]), .Z(n456));   /* synthesis lineinfo="@0(50[9],96[16])"*/
    defparam i286_2_lut_3_lut.INIT = "0x8080";
    (* lut_function="(A (C)+!A (B (D)+!B (C)))" *) LUT4 i185_3_lut_4_lut (.A(bit_counter[3]), 
            .B(n334), .C(s[0]), .D(led_array_c_0), .Z(n2));
    defparam i185_3_lut_4_lut.INIT = "0xf4b0";
    (* lut_function="(!(A (B+(C))+!A (B+!(C))))" *) LUT4 i553_3_lut (.A(bit_counter[1]), 
            .B(CS_c), .C(bit_counter[0]), .Z(n469));   /* synthesis lineinfo="@0(50[9],96[16])"*/
    defparam i553_3_lut.INIT = "0x1212";
    (* lut_function="(A (B+(C (D)))+!A (B (C+(D))))" *) LUT4 i199_4_lut_4_lut (.A(led_array_c_2), 
            .B(s[0]), .C(led_array_c_1), .D(n2), .Z(n6));   /* synthesis lineinfo="@0(59[17],91[24])"*/
    defparam i199_4_lut_4_lut.INIT = "0xecc8";
    (* lut_function="(!(A (B+!(C (D)+!C !(D)))+!A (B+(C (D)+!C !(D)))))" *) LUT4 i552_4_lut (.A(n8), 
            .B(n312), .C(s[0]), .D(led_array_c_4), .Z(n467));   /* synthesis lineinfo="@0(50[9],96[16])"*/
    defparam i552_4_lut.INIT = "0x2112";
    (* lut_function="(A (B+(C))+!A (B (C)))" *) LUT4 i206_3_lut (.A(led_array_c_3), 
            .B(s[0]), .C(n6), .Z(n8));   /* synthesis lineinfo="@0(59[17],91[24])"*/
    defparam i206_3_lut.INIT = "0xe8e8";
    (* lut_function="(A (B+(C))+!A (B (C)))" *) LUT4 i192_3_lut (.A(led_array_c_1), 
            .B(s[0]), .C(n2), .Z(n4));   /* synthesis lineinfo="@0(59[17],91[24])"*/
    defparam i192_3_lut.INIT = "0xe8e8";
    (* lut_function="(!(A (B+!(C (D)+!C !(D)))+!A (B+(C (D)+!C !(D)))))" *) LUT4 i551_4_lut (.A(n6), 
            .B(n312), .C(s[0]), .D(led_array_c_3), .Z(n465));   /* synthesis lineinfo="@0(50[9],96[16])"*/
    defparam i551_4_lut.INIT = "0x2112";
    (* lut_function="(!(A (C+!(D))+!A (B (C+(D))+!B (C+!(D)))))" *) LUT4 i695_3_lut_4_lut (.A(bit_counter[3]), 
            .B(n334), .C(n312), .D(led_array_c_0), .Z(n729));
    defparam i695_3_lut_4_lut.INIT = "0x0b04";
    (* lut_function="(A (B (C)))" *) LUT4 i2_3_lut (.A(n187), .B(s[1]), 
            .C(s[0]), .Z(n312));
    defparam i2_3_lut.INIT = "0x8080";
    
endmodule
